{% load static %}
{% load crispy_forms_tags %}

<table>
    <thead>
        <tr>
            <th colspan="3" class="table_header">
                SPECIAL TOPCOVER REQUESTS
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Extra Foam Padding Topcover:
            </td>
            <td>
                <label>
                    {{ form.extra_foam_padding_topcover_18 }}
                </label>
                &nbsp;1/8"
            </td>
            <td>
                <label>
                    {{ form.extra_foam_padding_topcover_116 }}
                </label>
                &nbsp;1/16"
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>
                    {{ form.suede_leather_topcover }}
                </label>
                &nbsp;Suede Leather Topcover on Orthotic ($10 additional charge)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {{ form.other_topcover|as_crispy_field }}
            </td>
        </tr>
    </tbody>
</table>
