{% extends 'base.html' %}

{% block title %} - Add Client Insurance{% endblock %}

{% block extrahead %}
    {% now 'Y' as current_year %}
    <script type="text/javascript">
        $(document).ready(function() {
            var coverage_prefix = "{{ coverage_formset.get_default_prefix }}";

            // Original html value does not match
            var coverage_total_forms = $(
                '#id_' + coverage_prefix + '-TOTAL_FORMS');
            coverage_total_forms.val({{ nestedformset.total_form_count }});

            $('#add_form').click(function() {
                var form_count = $('#id_coverage_set-TOTAL_FORMS').val();
                var form = '{{ coverage_formset.empty_form.as_p|escapejs }}';
                form = form
                    .replace(/__prefix__/g, form_count)
                    .replace(/<p>/g,
                             '<div class="form-group"><div class="col-lg-10">')
                    .replace(/<\/p>/g, '</div></div>');
                $(form).insertBefore('#add_form');
                $('#id_coverage_set-' + form_count + '-period_date').datepicker(
                    {changeMonth: true,
                     changeYear: true,
                     yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
                $('#id_coverage_set-TOTAL_FORMS').val(parseInt(form_count) + 1);
            });
        });
        {% for form in coverage_formset %}
            $(function() {
                $( "#id_coverage_set-{{ forloop.counter0 }}-period_date" ).datepicker(
                    {changeMonth: true,
                     changeYear: true,
                     yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            });
        {% endfor %}
    </script>
{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<h3>Add client insurance information</h3>

<form id="create_insurance_form" class="form-horizontal" method="post">
    <fieldset>
        {% csrf_token %}
        <h5>Insurance</h5>
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden.errors }}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <div class="col-lg-10">
                    {{ field.label_tag}} {{ field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
    <fieldset id="coverage_formset">
        <h5>Coverages</h5>
        {{ coverage_formset.management_form }}
        {{ coverage_formset.non_form_errors }}
        {% for form in coverage_formset %}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden.errors }}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.errors }}
                    <div class="col-lg-10">
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <a href="javascript:void(0)" id="add_form" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add another Coverage
        </a>
    </fieldset>
    <br />
    <input type="submit" name="submit" value="Add Insurance Information" />
</form>
<br />

{% endblock %}
