{% extends 'base.html' %}
{% load mathfilters %}

{% include 'navbar.html' %}

{% block title %}Edit Insurance{% endblock %}

{% block content %}

<h1>Edit insurance information for: {{ insurance.client }}</h1>
<h3>insurance information:</h3>
<form id="update_insurance_form" class="form-horizontal" method="post">
    <fieldset>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <div class="col-lg-10">
                    {{ field.label_tag}} {{ field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
    <input type="submit" name="submit" value="Save" />
</form>
<div class="pull-right">
    <a href="{% url 'coverage_type_create' insurance.id %}" class="btn btn-default">Add Coverage Type</a>
</div>
<h3>coverage types information:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Coverage Type</th>
            <th>Coverage Percent</th>
            <th>Max Coverage</th>
            <th>Total Claimed</th>
            <th>Coverage Remaining</th>
        </tr>
    </thead>
    <tbody>
        {% for coverageType in insurance.coveragetype_set.all %}
        <tr>
            <td>{{coverageType.coverageType}}</td>
            <td>{{coverageType.coveragePercent}}</td>
            <td>{{coverageType.maxClaimAmount}}</td>
            <td>{{coverageType.totalClaimed}}</td>
            <td>{{coverageType.maxClaimAmount|sub:coverageType.totalClaimed}}</td>
            <td>
                <div class="pull-right">
                    <a href="{% url 'coverage_type_edit' coverageType.id %}" class="btn btn-default">Edit</a>
                    <a href="{% url 'coverage_type_delete' coverageType.id %}" class="btn btn-default">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
