{% extends 'base.html' %}

{% block title %} - Update Blue Cross{% endblock %}

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {% now 'Y' as current_year %}
        var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

        $(document).ready(function() {
            var options = {
                format: '{{ settings.UTILS.GENERICS.date_format }}',
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                startDate: '-100y',
                zIndexOffset: 1030,
            };
            $('.date').datepicker(options);
        });
    {% endblock %}
</script>

{% block content %}

    <h1>Update Blue Cross</h1>
    {% include 'utils/snippets/messages.html' %}
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="row">
            <fieldset class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">
                        <h5>
                            {{ model_name|title }}
                        </h5>
                    </label>
                </div>
                {% include 'utils/generics/form.html' %}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" name="submit">
                            Update
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
