{% extends "easy_pdf/base.html" %}
{% load static %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            margin-top: 1cm;
            margin-bottom: 2cm;
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        /*@font-face { font-family: Lato; src: url(fonts/Lato-Bol.ttf); font-weight: bold; }
        @font-face { font-family: Lato; src: url(fonts/Lato-Reg.ttf); }
        @font-face { font-family: "Lato Light"; src: url(fonts/Lato-Lig.ttf); }
        */
        html {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
            font-family: "Lato", "Helvetica", "sans-serif";
        }

        table {
            line-height: 140%;
            margin-bottom: 10px;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }

            tr, td, th { border: none; }

            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                font-weight: bold;
            }

            td {
                font-size: 8pt;
                font-family: "Lato", "Helvetica", "sans-serif";
                vertical-align: top;
                /*padding: 3px 0;*/
            }

            td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }

        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }

        .recipient { margin-left: 10cm; }
        .total { margin-left: 11cm; }

        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }

        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }

        .main p {
            font-size: 8pt;
        }


        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }

    </style>
{% endblock %}

{%block page_header%}{% endblock %}

{% block content %}
<div class="main">
    <table>
        <tr>
            <td>Patient Name: {{ client.firstName }} {{ client.lastName }}</td>
            <td>Practitioner Name: {{ practioner_name }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Custom-made foot orthotics/orthosis or orthopedic shoes have been prescribed to the above mentioned patient and is covered under your insurance plan. An abnormal foot structure, function, or a lower extremity closed kinetic disorder may often cause many foot disorders and injury. A biomedical exam and gait analysis was performed and in this particular case, patient is showing symptoms of:</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>____</td><td colspan="5"><strong>Plantar Fasciitis</strong></td>
            <td>____</td><td colspan="5"><strong>Hammer Toes</strong></td>
            <td>____</td><td colspan="5"><strong>Ligament Tear / Sprain</strong></td>
            <td>____</td><td colspan="5"><strong>Knee Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Metatarsalgia</strong></td>
            <td>____</td><td colspan="5"><strong>Drop Foot</strong></td>
            <td>____</td><td colspan="5"><strong>Scoliosis With Pelvic Tilt</strong></td>
            <td>____</td><td colspan="5"><strong>Hip Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Pes Cavus</strong></td>
            <td>____</td><td colspan="5"><strong>Heel Spur</strong></td>
            <td>____</td><td colspan="5"><strong>Lumbar Spine Dysfunction</strong></td>
            <td>____</td><td colspan="5"><strong>Lumbar Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Pes Planus</strong></td>
            <td>____</td><td colspan="5"><strong>Ankle: Abnormal ROM</strong></td>
            <td>____</td><td colspan="5"><strong>Leg Length Discrepancy</strong></td>
            <td>____</td><td colspan="5"><strong>SI Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Diabetes</strong></td>
            <td>____</td><td colspan="5"><strong>Foot: Abnormal ROM</strong></td>
            <td>____</td><td colspan="5"><strong>SI Joint Dysfunction</strong></td>
            <td>____</td><td colspan="5"><strong>Ankle Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Neuropathy</strong></td>
            <td>____</td><td colspan="5"><strong>Peroneal Dysfunction</strong></td>
            <td>____</td><td colspan="5"><strong>Genu Valgum</strong></td>
            <td>____</td><td colspan="5"><strong>Foot Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>MTP Drop</strong></td>
            <td>____</td><td colspan="5"><strong>Interdigital Neuroma</strong></td>
            <td>____</td><td colspan="5"><strong>Genu Varum</strong></td>
            <td>____</td><td colspan="5"><strong>1st MTP Arthritis</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Forefoot Varus</strong></td>
            <td>____</td><td colspan="5"><strong>Bunions / Hallux Valgus</strong></td>
            <td>____</td><td colspan="5"><strong>Abnormal Patellar Tracking</strong></td>
            <td>____</td><td colspan="5"><strong>Rheumatoid Arthriti</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Forefoot Valgus</strong></td>
            <td>____</td><td colspan="5"><strong>Abnormal Gait Timing</strong></td>
            <td>____</td><td colspan="5"><strong>Abnormal Gait Pressures</strong></td>
            <td>____</td><td colspan="5"><strong>Gout</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Shin Splints</strong></td>
            <td>____</td><td colspan="5"><strong>Over Supination</strong></td>
            <td>____</td><td colspan="5"><strong>Achilles Tendinitis</strong></td>
            <td>____</td><td colspan="5"><strong>Ulcers</strong></td>
        </tr>
        <tr>
            <td>____</td><td colspan="5"><strong>Over Pronation</strong></td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="5">Diagosis: {{ diagnosis }}</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td colspan="10">Biomedical and Gait Analysis Date: {{ baga_date }}</td>
            <td colspan="10">Examination Performaned By: {{ practioner }}</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td colspan="10">Dispensing Practitioner: {{ practioner }}</td>
            <td colspan="10">Dispense Date: {{ dispense_date }}</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td colspan="5">Treatment:</td>
            <td colspan="5">____ Orthopedic Shoe</td>
            <td colspan="5">____ Foot Orthotics / Orthosis</td>
            <td colspan="5">____ Internally Modified Footwear</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td colspan="5">Orthotics Laboratories:</td>
        </tr>
        <tr><td></td></tr>
        {% for lab in laboratories %}
            <tr>
                <td colspan="20">Laboratory: {{ lab }}</td>
            </tr>
            <tr><td></td></tr>
        {% endfor %}
    </table>
    <h3><strong><u>Casting and Manufacturing Techniques:</u></strong></h3>
    <table>
        <tr>
            <td colspan="1" valign="top">____</td>
            <td colspan="19"><strong>Foam/plaster:</strong> Non-weight bearing 3D volumetric cast in subtalar neutral. This data is scanned by technicians. Copolymer plastic is formed over the positive to create a custom orthotic for the patient's specific correction and symptomatic needs.</td>
        </tr>
        <tr>
            <td colspan="1" valign="top">____</td>
            <td colspan="19"><strong>Gaitscan(TM):</strong> 3D Laser Scan data was taken using proprietary Oolab technology combined with CAD/CAM software and advanced milling machinery. Technicians design and mold a custom orthotic; copolymer plastic is formed over the positive to create a custom orthotic for the patient's specific correction and symptomatic needs.</td>
        </tr>
    </table>
    <h3><strong><u>Raw Materials Used for Custom-made Orthotics:</u></strong></h3>
    <table>
        <tr>
            <td>Engineered copolymer with complete intrinsic memory and predictability postings, made from extra firm nickelplast (58-65 Durometers).</td>
        </tr>
    </table>
    <h3><strong><u>Prognosis:</u></strong></h3>
    <table>
        <tr>
            <td>The gait anomalies and existing foot problems can be managed and corrected by the devices while wearing them, but will not cause a structural or functional change in the foot or the closed kinetic chain if the devices are not worn. The custom orthotics are a medical necessity and must be worn on a daily basis, for an indefinite period of time. Wearing the orthotics will alleviate the symptoms caused in the foot, hip, and low back regions. The feet and gait should be monitored for changes in prescription or breakdown of the orthotic devices.</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td colspan="2"></td>
            <td colspan="5">_____________________________</td>
            <td colspan="5">___________________</td>
        </tr>
        <tr><td> </td></tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="5">Health Care Practitioner Signature</td>
            <td colspan="5">Date</td>
        </tr>
    </table>
</div>
{% endblock %}
