{% extends 'base.html' %}

{% load static %}
{% load pipeline %}
{% load fallback_tags %}
{% load crispy_forms_tags %}

{% block title %} - Reminders{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% stylesheet 'reminders' %}

        {% javascript 'reminders' %}

        js_reverse: '/jsreverse/',

        'jQuery.fn.typeahead': [
            '//cdnjs.cloudflare.com/ajax/libs/typeahead.js/{{ settings.VERSIONS.typeahead_js }}/typeahead.jquery.min.js',
            "{% static 'utils/js/typeahead.jquery.min.js' %}"
        ],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% pipeline_css_shim 'reminders' 'bootstrap_css' %}

        {% pipeline_js_shim 'reminders' 'jQuery' %}

        'jQuery.fn.typeahead': ['jQuery'],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {# we want to show the label on inline select #}
        $('label[for="id_filter-result"]').removeClass('sr-only');
        {# form-inline needs to account for minifying html #}
        $('label[for="id_filter-result"]').addClass('inline');
        $('#filter_form .form-group').addClass('inline');

        {% if 'toggle' in request.GET %}
            var id = '#' + '{{ request.GET.toggle }}';
            $(id).collapse('show');
        {% else %}
            var id = '';
        {% endif %}
        if (location.hash) {
            location.hash = location.hash; {# go to location on refresh #}
        }
        else if (id) {
            location.hash = id;
        }

        {% now 'Y' as current_year %}
        var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

        var providers = {{ provider_choices|safe }};

        $(document).ready(function() {
            var options = {
                format: '{{ settings.UTILS.GENERICS.date_format }}',
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                startDate: '-100y',
                zIndexOffset: 1030,
            };
            $('.dateinput').datepicker(options);

            $('#id_filter-insurance').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 1,
                },
                {
                    name: 'filter-insurance',
                    source: startstringMatcher(providers),
                }
            );
        });

        var benefits_lookup = {
            {% for unpaid_claims_reminder in unpaid_claims_reminders %}
                '{{ unpaid_claims_reminder.pk }}':
                    [{% for insurance in unpaid_claims_reminder.claim.insurances.all %}
                        '{{ insurance.benefits }}',
                    {% endfor %}],
            {% endfor %}
        };

        window.reminders = window.reminders || {};
        var reminders_init = window.reminders.reminders_init;
        if ($.isFunction(reminders_init)) {
            reminders_init(benefits_lookup);
        }
        else {
            throw new Error('Could not load reminders');
        }
    {% endblock %}
</script>

{% block content %}

    {% csrf_token %}

    <div class="page-header"><h1>Reminders</h1></div>

    {% include 'utils/snippets/messages.html' %}

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="GET" class="form-inline" id="filter_form">
                {% crispy filter_form %}
                {# manually render follow_up because crispy did it wrong #}
                <div class="form-group checkbox inline">
                    {% for checkbox in follow_up_form.follow_up %}
                        {{ checkbox }}
                        <br />
                    {% endfor %}
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_unpaid_claims_reminders"
                        data-toggle="collapse"
                        data-target="#unpaid_claims_reminders">
                    Unpaid Claims
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="unpaid_claims_reminders" class="collapse in">
            {% if unpaid_claims_reminders %}
                {% with object_list=unpaid_claims_reminders model_name="unpaidclaimreminder" %}
                    {% include 'utils/generics/list_table.html' %}
                {% endwith %}
            {% endif %}
            <div class="panel-body">
                {% if unpaid_claims_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=unpaid_claims_reminders rows_per_page=unpaid_claims_reminders_rows_per_page page_var='unpaid_claims_reminders_page' rows_per_page_var='unpaid_claims_reminders_rows_per_page' %}
                {% else %}
                    There are no unpaid Claims.
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_arrived_orders_reminders"
                        data-toggle="collapse"
                        data-target="#arrived_orders_reminders">
                    Arrived Orders
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="arrived_orders_reminders" class="collapse in">
            {% if arrived_orders_reminders %}
                {% with object_list=arrived_orders_reminders model_name="orderarrivedreminder" %}
                    {% include 'utils/generics/list_table.html' %}
                {% endwith %}
            {% endif %}
            <div class="panel-body">
                {% if arrived_orders_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=arrived_orders_reminders rows_per_page=arrived_orders_reminders_rows_per_page page_var='arrived_orders_reminders_page' rows_per_page_var='arrived_orders_reminders_rows_per_page' %}
                {% else %}
                    There are no arrived Orders.
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_benefits_reminders"
                        data-toggle="collapse"
                        data-target="#benefits_reminders">
                    Benefits Rollovers
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="benefits_reminders" class="collapse in">
            {% if benefits_reminders %}
                {% with object_list=benefits_reminders model_name="benefitsreminder" %}
                    {% include 'utils/generics/list_table.html' %}
                {% endwith %}
            {% endif %}
            <div class="panel-body">
                {% if benefits_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=benefits_reminders rows_per_page=benefits_reminders_rows_per_page page_var='benefits_reminders_page' rows_per_page_var='benefits_reminders_rows_per_page' %}
                {% else %}
                    There are no benefits rollovers.
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_claims_without_orders_reminders"
                        data-toggle="collapse"
                        data-target="#claims_without_orders_reminders">
                    Claims without Orders
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="claims_without_orders_reminders" class="collapse in">
            {% if claims_without_orders_reminders %}
                {% with object_list=claims_without_orders_reminders model_name="claimorderreminder" %}
                    {% include 'utils/generics/list_table.html' %}
                {% endwith %}
            {% endif %}
            <div class="panel-body">
                {% if claims_without_orders_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=claims_without_orders_reminders rows_per_page=claims_without_orders_reminders_rows_per_page page_var='claims_without_orders_reminders_page' rows_per_page_var='claims_without_orders_reminders_rows_per_page' %}
                {% else %}
                    There are no Claims without Orders.
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'reminders/snippets/reminder_modals.html' %}

{% endblock content %}

{% block body_scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var startstringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp('^' + q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };
    </script>
{% endblock %}
