Django==2.2.27
django-ajax-selects==1.6.1
django-crispy-forms==1.6.0
django-easy-pdf==0.1.0
django-formtools==1.0
django-auditlog==0.4.0
django-pipeline==1.6.8
django-session-security==2.4.0
django-multiselectfield==0.1.4
django-js-reverse==0.7.2
djangorestframework==3.6.2
django-twilio==0.9.1
piexif==1.0.3

git+https://github.com/AntycSolutions/django-bootstrap3-datetimepicker@v2.4
git+https://github.com/AntycSolutions/xhtml2pdf
html5lib==1.0b8  # xhtml2pdf requirement is out of date
git+https://github.com/AntycSolutions/utils@v0.8.48
git+https://github.com/AntycSolutions/django-accounts@v0.2
git+https://github.com/Solanar/django-simple-search@v0.1.10
