Django==1.9.11
django-ajax-selects==1.4.3
django-crispy-forms==1.6.0
django-easy-pdf==0.1.0
django-formtools==1.0
django-auditlog==0.3.3
django-pipeline==1.6.8
django-session-security==2.4.0
django-multiselectfield==0.1.4
django-js-reverse==0.7.2
django-twilio==0.8.0
piexif==1.0.3
git+https://github.com/AntycSolutions/django-bootstrap3-datetimepicker
git+https://github.com/AntycSolutions/xhtml2pdf
html5lib==1.0b8  # xhtml2pdf requirement is out of date
git+https://github.com/AntycSolutions/utils
git+https://github.com/AntycSolutions/django-accounts
