<table class="table table-striped table-cover">
    <thead>
        <tr>
            <th></th>
            <th>Client</th>
            <th>Patient</th>
            <th>Provider</th>
            <th>Submitted Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for claim in claims %}
            <tr>
                <td>
                    <a href="{% url 'claim' claim.client.id claim.id %}"><button type="button" class="btn btn-info">View</button></a>
                </td>
                <td>{{ claim.client.full_name }}</td>
                <td>{{ claim.patient.full_name }}</td>
                <td>{{ claim.insurance.provider }}</td>
                <td>{{ claim.submitted_date }}</td>
                <td>
                    <div class="pull-right">
                        <a href="{% url 'claim_update' claim.id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'claim_delete' claim.id %}" class="btn btn-default">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="pull-right">
                        {% if claim.coverage_types.all %}
                            <table class="table" style="display: inline-block;">
                                <thead>
                                    <tr>
                                        <th>Coverage Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for coverageType in claim.coverage_types.all %}
                                        <tr>
                                            <td>{{ coverageType.get_coverage_type_display }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            There are no coverage types for this claim currenty.
                        {% endif %}
                    </div>
                </td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
