{% load groups %}

<style type="text/css">
    .claim_crud:not(:last-child) {
        width: 75px;
        margin-bottom: 5px;
    }
    .claim_crud:last-child {
        width: 75px;
    }
</style>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    Patient
                </th>
                <th>
                    {% if groups.Insurance_Info in user_groups %}
                        Provider(s)
                    {% endif %}
                </th>
                <th>
                    {% if groups.Insurance_Info in user_groups %}
                        Employer
                    {% endif %}
                </th>
                <th>
                    Submitted Datetime
                </th>
                <th>
                    {% if groups.Insurance_Info in user_groups %}
                        Insurance Paid Date
                    {% endif %}
                </th>
                <th>
                    Total Amount Claimed
                </th>
                <th>
                    Total Quantity Claimed
                </th>
                <th>
                    {% if groups.Insurance_Info in user_groups %}
                        Total Expected Back
                    {% endif %}
                </th>
                {% comment %}
                    <th>
                        Total Max Quantity
                    </th>
                    <th>
                        Total Max Expected Back
                    </th>
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for claim in claims %}
                <tr>
                    <td style="width: 91px;">{# from computed when width < 91 #}
                        <a class="btn btn-info claim_crud" href="{% url 'claim' claim.id %}">
                            View
                        </a>
                        <br />
                        <a class="btn btn-default claim_crud" href="{% url 'claim_update' claim.id %}?reset">
                            Update
                        </a>
                        <br />
                        <a class="btn btn-danger claim_crud" href="{% url 'claim_delete' claim.id %}">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a href="{{ claim.patient.get_absolute_url }}">
                            {{ claim.patient.full_name }}
                        </a>
                    </td>
                    <td>
                        {% if groups.Insurance_Info in user_groups %}
                            {% for insurance in claim.insurances.all %}
                                {{ insurance.provider }}{% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if groups.Insurance_Info in user_groups %}
                            {{ claim.patient.employer }}
                        {% endif %}
                    </td>
                    <td>
                        {{ claim.submitted_datetime }}<br />
                        {{ claim.submitted_datetime|timesince:now }} ago
                    </td>
                    <td{% if not claim.insurance_paid_date %} style="color: red;"{% endif %}>
                        {% if groups.Insurance_Info in user_groups %}
                            {{ claim.insurance_paid_date }}
                        {% endif %}
                    </td>
                    {% with totals=claim.total_amount_quantity_claimed %}
                        <td>
                            {{ totals.total_amount_claimed }}
                        </td>
                        <td>
                            {{ totals.total_quantity_claimed }}
                        </td>
                    {% endwith %}
                    <td>
                        {% if groups.Insurance_Info in user_groups %}
                            {{ claim.total_expected_back }}
                        {% endif %}
                    </td>
                    {% comment %}
                        {% with totals=claim.total_max_expected_back_quantity %}
                            <td>
                                {{ totals.total_max_quantity }}
                            </td>
                            <td>
                                {{ totals.total_max_expected_back }}
                            </td>
                        {% endwith %}
                    {% endcomment %}
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="pull-left">
                            {% if claim.has_orthotics and groups.Insurance_Info in user_groups %}
                                <a href="{% url 'coverage_order_claim_create' person_pk=claim.patient.pk claim_pk=claim.pk %}"
                                        class="btn btn-primary">
                                    Create an Orthotics Order
                                </a>
                            {% endif %}
                            {% with orthotics_orders=claim.coverageorder_set.all %}
                                {% if orthotics_orders and groups.Insurance_Info in user_groups %}
                                    <ul>
                                        <li style="margin-top: 10px;">
                                            Orthotics Orders:
                                            <ul>
                                                {% for orthotics_order in orthotics_orders %}
                                                    <li>
                                                        <a href="{{ orthotics_order.get_absolute_url }}">
                                                            {{ orthotics_order.quantity }}
                                                            {{ orthotics_order.vendor }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <ul class="pull-right">
                            <li>
                                Coverages:
                            </li>
                        </ul>
                    </td>
                    <td colspan="4">
                        <div class="pull-left">
                            {% if claim.claimcoverage_set.all %}
                                <table class="table" style="display: inline-block;">
                                    <thead>
                                        <tr>
                                            <th>
                                                Coverage Type
                                            </th>
                                            <th>
                                                Total Amount
                                            </th>
                                            <th>
                                                Total Quantity
                                            </th>
                                            <th>
                                                {% if groups.Insurance_Info in user_groups %}
                                                    Expected Back
                                                {% endif %}
                                            </th>
                                            {% comment %}
                                                <th>
                                                    Max Quantity
                                                </th>
                                                <th>
                                                    Max Expected Back
                                                </th>
                                            {% endcomment %}
                                            <th>
                                                Payment Type
                                            </th>
                                            <th>
                                                {% if groups.Insurance_Info in user_groups %}
                                                    Actual Paid Date
                                                {% endif %}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for claim_coverage in claim.claimcoverage_set.all %}
                                            <tr>
                                                <td>
                                                    {{ claim_coverage.coverage.get_coverage_type_display }}
                                                </td>
                                                {% with totals=claim_coverage.total_amount_quantity %}
                                                    <td>
                                                        {{ totals.total_amount }}
                                                    </td>
                                                    <td>
                                                        {{ totals.total_quantity }}
                                                    </td>
                                                {% endwith %}
                                                <td>
                                                    {% if groups.Insurance_Info in user_groups %}
                                                        {{ claim_coverage.expected_back }}
                                                    {% endif %}
                                                </td>
                                                {% comment %}
                                                    {% with maxes=claim_coverage.max_expected_back_quantity %}
                                                        <td>
                                                            {{ maxes.max_quantity }}
                                                        </td>
                                                        <td>
                                                            {{ maxes.max_expected_back }}
                                                        </td>
                                                    {% endwith %}
                                                {% endcomment %}
                                                <td{% if claim_coverage.payment_type == claim_coverage.DELINQUENT or claim_coverage.payment_type == claim_coverage.NO_COVERAGE %} style="color: red;"{% endif %}>
                                                    {{ claim_coverage.get_payment_type_display }}
                                                </td>
                                                <td style={% if not claim_coverage.actual_paid_date %}"color: red;"{% else %}"color: green;"{% endif %}>
                                                    {% if groups.Insurance_Info in user_groups %}
                                                        {{ claim_coverage.actual_paid_date }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>
                                    There are no Coverages for this Claim currenty.
                                </p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
