<style>
    .crud:not(:last-child) {
        width: 75px;
        margin-bottom: 5px;
    }
    .crud:last-child {
        width: 75px;
    }
</style>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Main Claimant</th>
                <th>Employer</th>
                <th>Provider</th>
                <th>Policy Number</th>
                <th>ID Number</th>
                <th>Benefits</th>
            </tr>
        </thead>
        <tbody>
            {% for insurance in insurances %}
                <tr>
                    <td style="width: 91px;"><!-- from computed when width < 91 -->
                        <a class="anchor" id="insurance_{{ insurance.id }}"></a>
                        {% if not disable_view %}
                            <a class="btn btn-info crud" href="{{ insurance.get_absolute_url }}">
                                View
                            </a>
                            <br />
                        {% endif %}
                        <a href="{% url 'insurance_update' insurance.id %}" class="btn btn-default crud">
                            Update
                        </a>
                        <br />
                        <a href="{% url 'insurance_delete' insurance.id %}" class="btn btn-danger crud">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a href="{{ insurance.main_claimant.get_absolute_url }}">
                            {{ insurance.main_claimant.full_name }}
                        </a>
                    </td>
                    <td>{{ insurance.main_claimant.employer }}</td>
                    <td>{{ insurance.provider }}</td>
                    <td>{{ insurance.policy_number }}</td>
                    <td>{{ insurance.contract_number }}</td>
                    <td>{{ insurance.get_benefits_display }}</td>
                </tr>
                <tr>
                    <td colspan="3"><ul class="pull-right"><li>Coverages:</li></ul></td>
                    <td colspan="4">
                        <div class="pull-left">
                            {% if insurance.coverage_set.all %}
                                <table class="table" style="display: inline-block;">
                                    <thead>
                                        <tr>
                                            <th>Claimant</th>
                                            <th>Coverage Type</th>
                                            <th>Coverage Percent</th>
                                            <th>Claim Amount Remaining</th>
                                            <th>Quantity Remaining</th>
                                            <th>Period</th>
                                            <th>Period Date</th>
                                            <th>
                                                Claim Amount Remaining Period
                                            </th>
                                            <th>
                                                Quantity Remaining Period
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for coverage in insurance.coverage_set.all %}
                                            <tr>
                                                <td><a href="{{ coverage.claimant.get_absolute_url }}">{{ coverage.claimant.full_name }}</a></td>
                                                <td>{{ coverage.get_coverage_type_display }}</td>
                                                <td>{{ coverage.coverage_percent }}</td>
                                                <td>{{ coverage.claim_amount_remaining }}</td>
                                                <td>{{ coverage.quantity_remaining }}</td>
                                                <td>{{ coverage.get_period_display }}</td>
                                                <td>{{ coverage.period_date }}</td>
                                                {% comment %}
                                                <td>
                                                    {{ coverage.total_amount_claimed_period }}
                                                </td>
                                                {% endcomment %}
                                                <td>
                                                    {{ coverage.claim_amount_remaining_period }}
                                                </td>
                                                {% comment %}
                                                <td>
                                                    {{ coverage.total_quantity_claimed_period }}
                                                </td>
                                                {% endcomment %}
                                                <td>
                                                    {{ coverage.quantity_remaining_period }}
                                                </td>
                                                <!-- <td>
                                                    <div class="pull-right">
                                                        <a href="{% url 'coverage_type_update' coverage.id %}" class="btn btn-default">Update</a>
                                                        <a href="{% url 'coverage_type_delete' coverage.id %}" class="btn btn-default">Delete</a>
                                                    </div>
                                                </td> -->
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                There are no Coverages for this Insurance currenty.
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
