<table class="table table-striped table-cover">
    <thead>
        <tr>
            <th>Main Claimant</th>
            <th>Employer</th>
            <th>Provider</th>
            <th>Policy Number</th>
            <th>Contract Number</th>
            <th>Benefits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for insurance in insurances %}
            <tr>
                <td>
                    <a href="{{ insurance.main_claimant.get_absolute_url }}">
                        {{ insurance.main_claimant.full_name }}
                    </a>
                </td>
                <td>{{ insurance.main_claimant.employer }}</td>
                <td>{{ insurance.provider }}</td>
                <td>{{ insurance.policy_number }}</td>
                <td>{{ insurance.contract_number }}</td>
                <td>{{ insurance.get_benefits_display }}</td>
                <td style="width: 140px;">
                    <div class="pull-right">
                        <a href="{% url 'insurance_update' insurance.id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'insurance_delete' insurance.id %}" class="btn btn-default">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><ul class="pull-right"><li>Coverages:</li></ul></td>
                <td colspan="4">
                    <div class="pull-left">
                        {% if insurance.coverage_set.all %}
                            <table class="table" style="display: inline-block;">
                                <thead>
                                    <tr>
                                        <th>Claimant</th>
                                        <th>Coverage Type</th>
                                        <th>Coverage Percent</th>
                                        <th>Claim Amount Remaining</th>
                                        <th>Quantity Remaining</th>
                                        <th>Period</th>
                                        <th>Period Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for coverage in insurance.coverage_set.all %}
                                        <tr>
                                            <td><a href="{{ coverage.claimant.get_absolute_url }}">{{ coverage.claimant.full_name }}</a></td>
                                            <td>{{ coverage.get_coverage_type_display }}</td>
                                            <td>{{ coverage.coverage_percent }}</td>
                                            <td>{{ coverage.claim_amount_remaining }}</td>
                                            <td>{{ coverage.quantity_remaining }}</td>
                                            <td>{{ coverage.get_period_display }}</td>
                                            <td>{{ coverage.period_date }}</td>
                                            <!-- <td>
                                                <div class="pull-right">
                                                    <a href="{% url 'coverage_type_update' coverage.id %}" class="btn btn-default">Edit</a>
                                                    <a href="{% url 'coverage_type_delete' coverage.id %}" class="btn btn-default">Delete</a>
                                                </div>
                                            </td> -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            There are no Coverages for this Insurance currenty.
                        {% endif %}
                    </div>
                </td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
