{% load verbose_name %}

<div class="form-group">
    <label class="col-lg-3 control-label">
        <h5>
            {{ object.full_name }}
        </h5>
    </label>
</div>
{% if not hide_referred_by %}
    <div class="form-group">
        <label class="col-lg-3 control-label">
            {% verbose_field_name client "referred_by" %}
        </label>
        <div class="col-lg-9">
            <p class="form-control-static">
                <a href="{{ object.referred_by.get_absolute_url }}">
                    {{ object.referred_by.full_name }}
                </a>
            </p>
        </div>
    </div>
{% endif %}
<div class="form-group">
    <label class="col-lg-3 control-label">
        Referred
    </label>
    <div class="col-lg-9">
        <p class="form-control-static">
            {% for referrer in object.person_ptr.referred_by.all %}
                <a href="{{ referrer.get_absolute_url }}">
                    {{ referrer }}
                </a>
                <br />
            {% endfor %}
        </p>
    </div>
</div>
