<!DOCTYPE html>
<html>
    <head>
        <title>Add Client</title>
    </head>

    <body>
        <h1>Add a Client</h1>

        <form id="client_form" method="post" action="clients/add_client/">

            {% csrf_token %}
            {% for field in forms.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Client" />
        </form>
    </body>

</html>
