<h3>Dependents</h3>
</br>
{% if spouse %}
    <h4>Spouse</h4>
    <div class="container">
        <h5>{{spouse.firstName}} {{spouse.lastName}}</h5>
        <ul>
            <li>Birthdate: {{spouse.birthdate}}</li>
            <li>Gender: {{spouse.gender}}</li>
        </ul>
    </div>
{% endif %}
</br>
{% if children %}
    <h4>Children</h4>
    {% for child in children %}
    <div class="container">
        <h5>{{child.firstName}} {{child.lastName}}</h5>
        <ul>
            <li>Birthdate: {{child.birthdate}}</li>
            <li>Gender: {{child.gender}}</li>
        </ul>
    </div>
    {% endfor %}
{% endif %}
