<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Edit Client{% endblock %}

{% block content %}
<h1>{{client.firstName}} {{client.lastName}}</h1>
<h3>Edit client information</h3>
    <form id="client_edit_form" class="form-horizontal" method="post">
        <fieldset>
            {% csrf_token %}
                {% for field in client_form.visible_fields %}
                <div class="form-group">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <div class="col-lg-10">
                        {{ field.label_tag}} {{ field }}
                    </div>
                </div>
                {% endfor %}
        </fieldset>
        <input type="submit" name="submit" value="Save" />
    </form>
{% endblock %}
