<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Insurances{% endblock %}

{% block content %}
    <h1>Insurances</h1>
    {% if insurances %}
        <table class="table table-striped table-cover">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Provider</th>
                    <th>Policy Number</th>
                    <th>Contract Number</th>
                    <th>Billing</th>
                </tr>
            </thead>
            <tbody>
        {% for insurance in insurances %}
                <tr>
                    <td>{{insurance.client.firstName}} {{insurance.client.lastName}}</td>
                    <td>{{insurance.provider}}</td>
                    <td>{{insurance.policyNumber}}</td>
                    <td>{{insurance.contractNumber}}</td>
                    <td>{{insurance.billing}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No converage information could be found</p>
    {% endif %}
{% endblock %}

