<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Insurances{% endblock %}

{% block content %}
    <h1>Insurances</h1>
    <form method="get" action="/clients/insurance_search/">
        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Insurance Search">
        <input type="submit" class="btn" value="Search">
    </form>
    {% if insurances %}
        <table class="table table-striped table-cover">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Employer</th>
                    <th>Provider</th>
                    <th>Policy Number</th>
                    <th>Contract Number</th>
                    <th>Coverage Percent</th>
                    <th>Billing</th>
                </tr>
            </thead>
            <tbody>
        {% for insurance in insurances %}
                <tr>
                    <td>
                        <a href="/clients/{{insurance.client.id}}">
                            {{insurance.client.firstName}} {{insurance.client.lastName}}
                        </a>
                    </td>
                    <td>{{insurance.client.employer}}
                    <td>{{insurance.provider}}</td>
                    <td>{{insurance.policyNumber}}</td>
                    <td>{{insurance.contractNumber}}</td>
                    <td>{{insurance.coveragePercent}}</td>
                    <td>{{insurance.billing}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found</p>
    {% endif %}
{% endblock %}
