<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load mathfilters %}

{% block title %}Edit Client{% endblock %}

{% block content %}
<h1>Make a claim</h1>
<form id="claim_add_form" class="form-horizontal" method="post">
    <fieldset>
        {% csrf_token %}
            {% for field in claim_form.visible_fields %}
            <div class="form-group">
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <div class="col-lg-10">
                    {{ field.label_tag}} {{ field }}
                </div>
            </div>
            {% endfor %}
    </fieldset>
    <div>
        <h5>Patient</h5>
            <input type="radio" name="patient" value="dependent.id">{{ client }}</br>
            {% for dependent in client.dependents.all %} 
            <input type="radio" name="patient" value="dependent.id">{{ dependent }}</br>
            {% endfor %}
    </div>

    <div>
        <h5>Coverages available</h5>
        {% if insurances %}
            <table class="table table-striped table-cover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Coverage Type</th>
                        <th>Coverage Percent</th>
                        <th>Coverage Remaining</th>
                        <th>Pair Remaining</th>
                        <th>Claim Amount</th>
                        <th>Pairs Claimed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for insurance in insurances %}
                        {% for coverage in insurance.coveragetype_set.all %}
                            <tr>
                                <td><input type="checkbox" name="coverageSelected" value="{{ coverage.id }}"></td>
                                <td>{{ coverage.coverageType }}</td>
                                <td>{{ coverage.coveragePercent }}</td>
                                <td>{{ coverage.maxClaimAmount|sub:coverage.totalClaimed }}</td>
                                <td>{{ coverage.quantity }}</td>
                                <td><input type="number" name="amount_{{ coverage.id }}" value=0></td>
                                <td><input type="number" name="pairs_{{ coverage.id }}" value=1></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        <p><strong>Before saving please review that everything is entered correctly</strong></p>
        <input type="submit" name="submit" value="Make Claim" />
        {% else %}
            <p><strong>Between the client and spouse no coverages are available to make a claim</strong></p>
        {% endif %}
    </div>
</form>
{% endblock %}
