<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load mathfilters %}

{% block title %}{% endblock %}

{% block content %}
<h1>BLAH</h1>
<h5>Fields To Add</h5>
<ul>
    <li>Invoice #</li>
    <li>invoice date</li>
    <li>patient</li>
    <li>product</li>
    <li>quantity</li>
    <li>lab information</li>
    <li>padiatrist infrmation</li>
    <li>raw materials manufacturing</li>
    <li>casting technique</li>
</ul>
<a href="/clients/{{client.id}}/claim/{{claim.id}}/proof_of_manufacturing" class="btn btn-default">View Proof Of Insurance</a>
{% endblock %}
