{% extends 'base.html' %}

{% block title %} - {{ model_name|title }}{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<h1>{{ model_name|title }}</h1>
<table class="table table-striped table-cover">
    {% with fields=object.get_all_fields %}
        <thead>
            <tr>
                {% for label in fields.labels %}
                    {% if not forloop.first %}
                        <th>{{ label }}</th>
                    {% endif %}
                {% endfor %}
                        <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for name, value in fields.name_values.items %}
                    {% if name == "id" %}
                        <!-- Skip ID -->
                    {% elif "image" in name %}
                        <td>
                            {% if value %}
                                <a href="{{ value.url }}"><img width="256px;" src="{{ value.url }}" /></a>
                            {% else %}
                                <!-- No Image -->
                            {% endif %}
                        </td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                        <td style="width: 160px;">
                            <div class="pull-right">
                                <a href="{% url model_name|add:'_update' fields.name_values.id %}" class="btn btn-default">Update</a>
                                <a href="{% url model_name|add:'_delete' fields.name_values.id %}" class="btn btn-default">Delete</a>
                            </div>
                        </td>
            </tr>
        </tbody>
    {% endwith %}
</table>
<br />

{% endblock %}
