{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Add Client Insurance Coverage Type{% endblock %}

{% block content %}

<h3>Add client insurance coverage type information</h3>

<form id="create_coverage_type_form" class="form-horizontal" method="post">
    <fieldset>
        {% csrf_token %}
            <!-- Insurance info form -->
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <div class="col-lg-10">
                        {{ field.label_tag}} {{ field }}
                    </div>
                </div>
            {% endfor %}
    </fieldset>
    <input type="submit" name="submit" value="Add Coverage Type Information" />
</form>
<br>

{% endblock %}
