{% load static %}

<table style="padding: 0;">
    <thead>
        <tr>
            <th>
                OPTIONAL FINDINGS
            </th>
        </tr>
    </thead>
    <tbody class="small_font">
        <tr style="padding-top: 5px;">
            <td>
                <table>
                    <thead>
                        <tr class="thin_row" style="padding-right: 0;">
                            <th colspan="3" class="inline_th" style="border-right: 1px solid black;">
                                Ankle Dorsi-Flexion
                            </th>
                            <th colspan="3" class="inline_th" style="border-right: 1px solid black;">
                                General Foot Motion
                            </th>
                            <th colspan="3" class="inline_th" style="border-right: 1px solid black;">
                                {% if biomechanical.forefoot_varus %}
                                    <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                {% else %}
                                    <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                {% endif %}
                                &nbsp;Forefoot Varus
                            </th>
                            <th colspan="3" class="inline_th">
                                {% if biomechanical.forefoot_valgus %}
                                    <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                {% else %}
                                    <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                {% endif %}
                                &nbsp;Forefoot Valgus
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="very_small_font thin_row" style="text-align: center;">
                            <td></td>
                            <td style="width: 30px;">
                                Left
                            </td>
                            <td class="right_border" style="width: 50px;">
                                Right
                            </td>
                            <td></td>
                            <td style="width: 30px;">
                                Left
                            </td>
                            <td class="right_border" style="width: 50px;">
                                Right
                            </td>
                            <td></td>
                            <td style="width: 30px;">
                                Left
                            </td>
                            <td class="right_border" style="width: 50px;">
                                Right
                            </td>
                            <td></td>
                            <td style="width: 30px;">
                                Left
                            </td>
                            <td style="width: 45px;">
                                Right
                            </td>
                        </tr>
                        <tr class="thin_row">
                            <td>
                                Adequate
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.ankle_dorsi_flexion_adequate_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.ankle_dorsi_flexion_adequate_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Restricted
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_restricted_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_restricted_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Mild
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_mild_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_mild_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Mild
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_mild_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_mild_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr class="thin_row">
                            <td>
                                Limited
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.ankle_dorsi_flexion_limited_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.ankle_dorsi_flexion_limited_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Normal
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_normal_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_normal_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Moderate
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_moderate_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_moderate_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Moderate
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_moderate_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_moderate_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr class="thin_row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                Hyper-mobile
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_hyper_mobile_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.general_foot_motion_hyper_mobile_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Severe
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_severe_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td class="right_border">
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_varus_severe_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                Severe
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_severe_left %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    {% if biomechanical.forefoot_valgus_severe_right %}
                                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                                    {% else %}
                                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table>
    <tbody class="small_font">
        <tr class="thin_row very_small_font">
            <td style="width: 65px;"></td>
            <td style="width: 60px;">
                Hyper-mobile
            </td>
            <td style="width: 60px;">
                Limited ROM
            </td>
        </tr>
        <tr class="thin_row">
            <td>
                Subtalar Joint
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.subtalar_joint_hyper_mobile %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.subtalar_joint_limited_rom %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr class="thin_row">
            <td>
                Ankle Joint
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.ankle_joint_hyper_mobile %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.ankle_joint_limited_rom %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr class="thin_row">
            <td>
                1st MPJ
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.first_mpj_hyper_mobile %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox">
                    {% if biomechanical.first_mpj_limited_rom %}
                        <img src="{% static 'images/checked_box.png' %}" width="6.5" height="6.5" />
                    {% else %}
                        <img src="{% static 'images/unchecked_box.png' %}" width="6.5" height="6.5" />
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
