{% extends 'base.html' %}

{% load static %}
{% load field_utils %}
{% load crispy_forms_tags %}
{% load update_attrs %}
{% load pipeline %}

{% block title %} - {{ save_text|title }} {{ model_name|title }}{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% stylesheet 'biomechanical_gait' %}

        'jQuery.fn.typeahead': [
            '//cdnjs.cloudflare.com/ajax/libs/typeahead.js/{{ settings.VERSIONS.typeahead_js }}/typeahead.jquery.min.js',
            "{% static 'utils/js/typeahead.jquery.min.js' %}"
        ],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        'jQuery.fn.typeahead': ['jQuery'],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {% now 'Y' as current_year %}
        var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

        var providers = {{ provider_choices|safe }};

        $(document).ready(function() {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: year_range,
            });

            $('#id_provider').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 1,
                },
                {
                    name: 'provider',
                    source: startstringMatcher(providers),
                }
            );
        });
    {% endblock %}
</script>

{% block content %}

    <h1>
        {{ save_text|title }} {{ model_name|title }}
    </h1>

    {% include 'utils/snippets/messages.html' %}

    <form id="{{ save_text }}_{{ model_name }}_form" class="form-horizontal" method="POST" enctype="{{ form_type }}">
        {% csrf_token %}
        <div class="row">
            <fieldset class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">
                        <h5>
                            {{ model_name|title }}
                        </h5>
                    </label>
                </div>
                <div class="form-group" style="color: #a94442;">
                    {{ form.errors }}
                </div>
                <table style="margin-bottom: 10px;">
                    <tbody>
                        <tr>
                            <td colspan="10" class="right_border" style="vertical-align: top;">
                                {% include 'clients/claim/snippets/biomechanical/gait/examination_findings.html' %}
                                {% include 'clients/claim/snippets/biomechanical/gait/optional_findings.html' %}
                                {% include 'clients/claim/snippets/biomechanical/gait/orthotics.html' %}
                                {% include 'clients/claim/snippets/biomechanical/gait/specialty_orthotics.html' %}
                            </td>
                            <td colspan="10" style="vertical-align: top;">
                                {% include 'clients/claim/snippets/biomechanical/gait/patient_information.html' %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="table_header">
                                                CHIEF COMPLAINTS / SPECIAL INSTRUCTIONS
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                {{ form.chief_complaints_special_instructions|as_crispy_field }}
                                            </td>
                                            <td style="text-align: right;">
                                                <img src="{% static 'images/feet_bones.png' %}" width='150' />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% include 'clients/claim/snippets/biomechanical/gait/additions_modifications.html' %}
                                {% include 'clients/claim/snippets/biomechanical/gait/special_topcover_requests.html' %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-4">
                        {{ form.provider|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group{% if form.signature_date.errors %} has-error{% endif %}">
                            <label class="control-label" for="{{ form.signature_date.auto_id }}">
                                {{ form.signature_date.label }}{% if form.signature_date.field.required %}*{% endif %}
                            </label>
                            {{ form.signature_date|update_attrs:"class: form-control datepicker" }}
                            {% if form.signature_date.help_text %}
                                <span class="help-block">
                                    {{ form.signature_date.help_text }}
                                </span>
                            {% endif %}
                            {% if form.signature_date.errors %}
                                <span class="help-block">
                                    {{ form.signature_date.errors }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" name="submit">
                            {{ save_text|title }}
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var startstringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp('^' + q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };
    </script>
{% endblock %}
