{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Add Insurance Letter{% endblock %}

{% block extra_head %}
    {% now 'Y' as current_year %}
    <script>
        $(function() {
            $("#id_dispense_date").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $("#id_biomedical_and_gait_analysis_date").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
        });
    </script>
{% endblock %}

{% block content %}

    <h3>Add Insurance Letter Information</h3>

    <form id="create_insurance_letter_form" class="form-horizontal" method="post">
        <fieldset>
            {% csrf_token %}
            <h5>Insurance Letter</h5>
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <div class="col-lg-10">
                        {{ field.label_tag}} {{ field }}
                    </div>
                </div>
                {% if field.label == "Internally Modified Orthosis" %}
                    <br />
                {% endif %}
                {% if field.label == "Foam / Plaster" %}
                    <br />
                {% endif %}
                {% if field.label == "Dispense Date" %}
                    <br />
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <h5>Laboratories</h5>
            {{ laboratory_form.management_form }}
            {{ laboratory_form.non_form_errors }}
            {% for form in laboratory_form %}
                {{ form.id }}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                        <div class="col-lg-10">
                            {{ field.label_tag}} {{ field }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </fieldset>
        <input type="submit" name="submit" value="Add Insurance Letter" />
    </form>
    <br />

{% endblock %}
