{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Create Proof of Manufacturing{% endblock %}

{% block content %}

    <h1>
        Create Proof of Manufacturing
    </h1>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="row">
            <fieldset class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">
                        <h5>
                            {{ model_name|title }}
                        </h5>
                    </label>
                </div>
                {% include 'utils/generics/form.html' %}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" name="submit">
                            Create
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
