{% extends 'base.html' %}

{% load static %}
{% load m2m %}

{% block title %} - Make Claim{% endblock %}

{% block extrahead %}

<link href="{% static 'css/div_table.css' %}" rel="stylesheet">

{% endblock %}

{% include 'navbar.html' %}

{% block content %}

{% include 'clients/snippets/messages.html' %}
<h1>Make a Claim</h1>
<p>Client: <a href="{{ claim_form.client.get_absolute_url }}">{{ claim_form.client.full_name }}</a>
</p>

<form id="claim_add_form" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Claim</h5>
    {{ claim_form.non_field_errors }}
    {% for hidden in claim_form.hidden_fields %}
        {% if hidden.errors %}
            {{ hidden.errors }}
        {% endif %}
        {{ hidden }}
    {% endfor %}
    {% for field in claim_form.visible_fields %}
        {% if false %}
        {% comment %}
        {% if field.name == "coverage_types" %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field.label_tag|title }}
            <div class="div_table div_table_striped">
                <div class="div_head">
                    <div class="div_tr">
                        <div class="div_th">Select</div>
                        <div class="div_th">Coverage Type</div>
                        <div class="div_th">Coverage Percent</div>
                        <div class="div_th">Max Claim Amount</div>
                        <div class="div_th">Coverage Remaining</div>
                        <div class="div_th">Total Claimed</div>
                        <div class="div_th">Pair Remaining</div>
                        <div class="div_th">Period</div>
                        <!-- <div class="div_th">Amount Claimed</div>
                        <div class="div_th">Expected Back</div> -->
                        <div class="div_th"></div>
                    </div>
                </div>
                {% regroup field.field.choices_dict by obj.insurance.id as grouped_choices %}
                {% for group in grouped_choices %}
                    <div class="div_body insurance_{{ group.grouper }} insurance_content" style="display: none;">
                        {% for choice in group.list %}
                            {% with value=choice.value coverage=choice.obj %}
                                <div class="div_tr">
                                    <div class="div_td">
                                        {% spaceless %}
                                        {% for checkbox in field %}
                                            {% if checkbox.choice_value == coverage.pk|slugify %}
                                                {% with checked=checkbox.is_checked|yesno:" checked," %}
                                                    <input{{ checked }} name="coverage_types" class="coverage_type_trigger" value="{{ value }}" data-rel="coverage_type_{{ coverage.coverage_type }}" type="checkbox" disabled="disabled">
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.get_coverage_type_display }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.coverage_percent }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.max_claim_amount }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.coverage_remaining }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.total_claimed }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.quantity }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.get_period_display }}
                                    </div>
                                    <!-- <div class="div_td">
                                        <input type="number" name="claimed_{{ coverage.id }}" value="0" disabled="disabled">
                                    </div>
                                    <div class="div_td">
                                        <input type="number" name="expected_{{ coverage.id }}" value="0" disabled="disabled">
                                    </div> -->
                                    <div class="div_td">
                                        <div class="pull-right">
                                            <a href="{% url 'coverage_type_update_from_claim' coverage.id claim_form.client.id %}" class="btn btn-default">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="div_caption insurance_ insurance_content" style="display: none;">
                    Please select an Insurance to select Coverage Types.
                </div>
            </div>
        {% elif field.name == "items" %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field.label_tag }}
            <div class="div_table div_table_striped">
                <div class="div_head">
                    <div class="div_tr">
                        <div class="div_th">Select</div>
                        <div class="div_th">Coverage Type</div>
                        <div class="div_th">Gender</div>
                        <div class="div_th">Product Code</div>
                        <div class="div_th">Description</div>
                        <div class="div_th">Cost</div>
                        <div class="div_th">Retail</div>
                        <div class="div_th">Quantity</div>
                    </div>
                </div>
                {% regroup field.field.choices_dict by obj.coverage_type as grouped_choices %}
                {% for group in grouped_choices %}
                    <div class="div_body coverage_type_{{ group.grouper }} coverage_type_content" style="display: none;">
                        {% for choice in group.list %}
                            {% with value=choice.value item=choice.obj %}
                                <div class="div_tr">
                                    <div class="div_td">
                                        {% spaceless %}
                                        {% for checkbox in field %}
                                            {% if checkbox.choice_value == item.pk|slugify %}
                                                {% with checked=checkbox.is_checked|yesno:" checked," %}
                                                    <input{{ checked }} name="items" value="{{ value }}" type="checkbox" disabled="disabled">
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </div>
                                    <div class="div_td">
                                        {{ item.get_coverage_type_display }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.get_gender_display }}
                                    </div>
                                    <div class="div_td">
                                        <input type="hidden" name="product_code_{{ item.id }}" value="{{ item.product_code }}" disabled="disabled">
                                        {{ item.product_code }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.description }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.cost }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.unit_price }}
                                    </div>
                                    <div class="div_td">
                                        <input type="number" name="pairs_{{ item.id }}" value="1" disabled="disabled">
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="div_caption coverage_type_content_msg coverage_type_content" style="display: none;">
                    Please select a Coverage Type to select Items.
                </div>
            </div>
        {% endcomment %}
        {% elif field.name == "submitted_datetime" %}
            <div class="form-group">
                {{ field.errors }}
                <div class="col-lg-4" style="display: table;">
                    <div style="display: table-cell;">{{ field.label_tag }}</div> {{ field }}
                </div>
            </div>
        {% else %}
            <div class="form-group">
                {{ field.errors }}
                <div class="col-lg-10">
                    {{ field.label_tag }} {{ field }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <fieldset>
        <h5>Coverages</h5>
        {{ nestedformset.management_form }}
        {{ nestedformset.non_form_errors }}
        {% for coverage_form in nestedformset %}
            {{ coverage_form.non_field_errors }}
            {% for hidden in coverage_form.hidden_fields %}
                    {{ hidden.errors }}
                {{ hidden }}
            {% endfor %}
            {% for field in coverage_form.visible_fields %}
                <div class="form-group">
                        {{ field.errors }}
                    <div class="col-lg-10">
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div style="margin-left: 75px;">
                <h5>Items</h5>
                <div id="empty_item_form_mngmt">
                    {{ coverage_form.nested.management_form }}
                </div>
                {{ coverage_form.nested.non_form_errors }}
                {% for item_form in coverage_form.nested %}
                    {{ item_form.non_field_errors }}
                    {% for hidden in coverage_form.hidden_fields %}
                            {{ hidden.errors }}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in item_form.visible_fields %}
                        <!-- <div class="form-group"> -->
                            {{ field.errors }}
                            <!-- <div class="col-lg-10"> -->
                                {{ field.label_tag }} {{ field }}
                            <!-- </div> -->
                        <!-- </div> -->
                    {% endfor %}
                    <br />
                {% endfor %}
                <a href="javascript:void(0)" id="add_item_form-{{ forloop.counter0 }}" class="btn btn-default" style="margin-top: 20px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add another Item
                </a>
                <div id="empty_item_form-{{ forloop.counter0 }}" style="display: none;">
                    {% for hidden in coverage_form.nested.empty_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in coverage_form.nested.empty_form.visible_fields %}
                        <!-- <div class="form-group"> -->
                            <!-- <div class="col-lg-10"> -->
                                {{ field.label_tag }} {{ field }}
                            <!-- </div> -->
                        <!-- </div> -->
                    {% endfor %}
                    <br />
                </div>
            </div>
            <br />
        {% endfor %}
        <a href="javascript:void(0)" id="add_coverage_form" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add another Coverage
        </a>
        <div id="empty_coverage_form" style="display: none;">
            {% for hidden in nestedformset.empty_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in nestedformset.empty_form.visible_fields %}
                <div class="form-group">
                    <div class="col-lg-10">
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div style="margin-left: 75px;">
                <h5>Items</h5>
                <a href="javascript:void(0)" id="add_item_form-{{ nestedformset.get_default_prefix|escapejs }}-__coverageprefix__" class="btn btn-default" style="margin-top: 20px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add another Item
                </a>
            </div>
            <br />
        </div>
    </fieldset>
    <br />
    <input type="submit" name="submit" value="Make Claim" />
</form>
<br />

{% endblock %}

{% block scripts %}

{{ claim_form.media }}

<script src="{% static 'js/claim.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $("#id_insurance_paid_date").datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
    });
    {% for coverage_form in nestedformset %}
        $(function() {
            $( "#id_claimcoverage_set-{{ forloop.counter0 }}-actual_paid_date" ).datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "1900:2015"});
        });
    {% endfor %}
    $(document).ready(function() {
        var coverage_prefix = "{{ nestedformset.get_default_prefix }}";
        var item_prefix = "{{ nestedformset.nested_formset_class.get_default_prefix }}";

        // Original html value does not match
        var coverage_total_forms = $(
            '#id_' + coverage_prefix + '-TOTAL_FORMS');
        coverage_total_forms.val({{ nestedformset.total_form_count }});
        // Assume we can set this becuase original html value does not match
        var item_total_forms = $(
            '#id_' + coverage_prefix + '-0-' + item_prefix + '-TOTAL_FORMS');
        item_total_forms.val({{ nestedformset.forms.0.nested.total_form_count }});

        var empty_item_form_mngmt = $('#empty_item_form_mngmt').html();
        var re = new RegExp(coverage_prefix + '-0-' + item_prefix, "g");
        empty_item_form_mngmt = empty_item_form_mngmt
            .replace(re, coverage_prefix + '-__coverageprefix__-' + item_prefix);
        $(empty_item_form_mngmt).insertBefore(
            '#add_item_form-' + coverage_prefix + '-__coverageprefix__');
        // Assume we can grab this
        var item_form = $('#empty_item_form-0').html();
        item_form = item_form
            .replace(/__prefix__/g, 0)
            .replace(/{{ nestedformset.get_default_prefix }}-0/g,
                     coverage_prefix + '-__coverageprefix__');
        item_form = '<div id="item_form-' + coverage_prefix + '-__coverageprefix__">' + item_form + '</div>';
        $(item_form).insertBefore(
            '#add_item_form-' + coverage_prefix + '-__coverageprefix__');
        var empty_item_form = $('#empty_item_form-0').html();
        empty_item_form = empty_item_form
            .replace(/__prefix__/g, '__itemprefix__')
            .replace(/{{ nestedformset.get_default_prefix }}-0/g,
                     coverage_prefix + '-__coverageprefix__');
        empty_item_form = '<div id="empty_item_form-' + coverage_prefix + '-__coverageprefix__" style="display: none;">' + empty_item_form + '</div>';
        $(empty_item_form).insertBefore(
            '#add_item_form-' + coverage_prefix + '-__coverageprefix__');

        // Don't post the empty/hidden, must be after empty item form is added
        var empty_item_form = $('#empty_coverage_form input, #empty_coverage_form select');
        empty_item_form.attr('disabled', 'disabled');

        $('#add_coverage_form').click(function() {
            var coverage_form_idx = coverage_total_forms.val();
            var coverage_form = $('#empty_coverage_form').html();
            coverage_form = coverage_form
                .replace(/__coverageprefix__/g, coverage_form_idx)
                .replace(/__prefix__/g, coverage_form_idx)
                .replace(/ disabled="disabled"/g, '');
            $(coverage_form).insertBefore('#add_coverage_form');
            $('#id_claimcoverage_set-' + coverage_form_idx + '-actual_paid_date')
                .datepicker(
                    {changeMonth: true,
                     changeYear: true,
                     yearRange: "1900:2015"});

            $('#add_item_form-' + coverage_prefix + '-' + coverage_form_idx)
                .click(function() {
                    var item_total_forms = $(
                        '#id_' + coverage_prefix + '-' + coverage_form_idx + '-' + item_prefix + '-TOTAL_FORMS');
                    var item_form_idx = item_total_forms.val();
                    var form = $('#empty_item_form-' + coverage_prefix + '-' + coverage_form_idx).html();
                    form = form.replace(/__itemprefix__/g, item_form_idx);
                    $(form).insertBefore('#add_item_form-' + coverage_prefix + '-' + coverage_form_idx);
                    item_total_forms.val(parseInt(item_form_idx) + 1);
                });

            coverage_total_forms.val(parseInt(coverage_form_idx) + 1);
        });

        {% for coverage_form in nestedformset %}
            var empty_item_form = $('#empty_item_form-{{ forloop.counter0 }} input, #empty_item_form-{{ forloop.counter0 }} select');
            empty_item_form.attr('disabled', 'disabled');
            $('#add_item_form-{{ forloop.counter0 }}').click(function() {
                var item_total_forms = $(
                    '#id_' + coverage_prefix + '-{{ forloop.counter0 }}-{{ coverage_form.nested.get_default_prefix }}-TOTAL_FORMS');
                var item_form_idx = item_total_forms.val();
                var form = $('#empty_item_form-{{ forloop.counter0 }}').html();
                form = form
                    .replace(/__prefix__/g, item_form_idx)
                    .replace(/ disabled="disabled"/g, '');
                $(form).insertBefore('#add_item_form-{{ forloop.counter0 }}');
                item_total_forms.val(parseInt(item_form_idx) + 1);
            });
        {% endfor %}
    });
</script>

{% endblock %}
