{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Create Proof of Manufacturing{% endblock %}

{% block content %}

    <h1>
        Create Proof of Manufacturing
    </h1>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9">
                        <button type="submit" class="btn btn-primary" name="submit">
                            Create
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
