{% extends 'base.html' %}

{% load verbose_name %}

{% block title %} - Update Invoice{% endblock %}

{% block extra_head %}
    {% now 'Y' as current_year %}
    <script>
        $(function() {
            $( "#id_payment_date" ).datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $( "#id_deposit_date" ).datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $( "#id_invoice_date" ).datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
        });
    </script>
{% endblock %}

{% include 'navbar.html' %}

{% block content %}

    <h1>
        Update invoice information for: {{ invoice.claim.patient.full_name }}
    </h1>
    <form id="update_invoice_form" class="form-horizontal" method="POST">
        {% csrf_token %}
        <h5>Claim</h5>
        {% with totals=invoice.claim.total_amount_quantity_claimed %}
            <p>Total Amount Claimed: {{ totals.total_amount_claimed }}</p>
            <p>Total Quantity Claimed: {{ totals.total_quantity_claimed }}</p>
        {% endwith %}
        <p>Total Expected Back: {{ invoice.claim.total_expected_back }}</p>
        {% comment %}
        {% with totals=invoice.claim.total_max_expected_back_quantity %}
            <p>Total Max Expected Back: {{ totals.total_max_expected_back }}</p>
            <p>Total Max Quantity: {{ totals.total_max_quantity }}</p>
        {% endwith %}
        {% endcomment %}
        {% if invoice.claim.insurance.benefits %}
            <h5>Insurance</h5>
            <p>
                {% verbose_field_name invoice.claim.insurance "benefits" %}:
                {{ invoice.claim.insurance.get_benefits_display }}
            </p>
        {% endif %}
        <div class="row">
            <fieldset class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">
                        <h5>
                            {{ model_name|title }}
                        </h5>
                    </label>
                </div>
                {% include 'utils/generics/form.html' %}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" name="submit">
                            Update
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
