{% extends 'base.html' %}

{% load verbose_name %}

{% block title %} - Edit Invoice{% endblock %}

{% block extrahead %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#id_payment_date" ).datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
        $( "#id_deposit_date" ).datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
        $( "#id_invoice_date" ).datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
    });
</script>
{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<h1>Edit invoice information for: {{ invoice.claim.patient.full_name }}</h1>

<form id="update_invoice_form" class="form-horizontal" method="post">
    {% csrf_token %}
    <h5>Claim</h5>
    {% with claim.amount_quantity_claimed_total as totals %}
        {% with amount_claimed_total=totals.0 quantity_claimed_total=totals.1 %}
            <p>Amount Claimed Total: {{ amount_claimed_total }}</p>
            <p>Quantity Claimed Total: {{ quantity_claimed_total }}</p>
        {% endwith %}
    {% endwith %}
    <p>Expected Back Total: {{ invoice.claim.expected_back_total }}</p>
    <p>Max Expected Back Total: {{ invoice.claim.max_expected_back_total }}</p>
    <h5>Insurance</h5>
    <p>{% verbose_field_name invoice.claim.insurance "benefits" %}:
        {{ invoice.claim.insurance.get_benefits_display }}</p>
    <h5>Invoice</h5>
    <fieldset>
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {% if hidden.errors %}
                {{ hidden.errors }}
            {% endif %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <div class="col-lg-10">
                    {{ field.label_tag}} {{ field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
    <input type="submit" name="submit" value="Save" />
</form>
<br>

{% endblock %}
