
body {
    padding-top: 50px;
}

.ui-datepicker {
    /*
        make jquery.datepicker have a higher z-index than
        boostrap input-group
     */
    z-index: 3 !important;
}

.select2-container--bootstrap .select2-selection.select2-selection--single {
    height: 38px;
    padding-top: 8px;
}
