{% extends 'base.html' %}

{% block title %} - Claims{% endblock %}

{% block extrahead %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#dateFromSearchBox" ).datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
        $( "#dateToSearchBox" ).datepicker(
            {changeMonth: true,
             changeYear: true,
             yearRange: "1900:2015"});
    });
</script>
{% endblock %}

{% include 'navbar.html' %}

{% block content %}

{% include 'clients/snippets/messages.html' %}
<h1>Claims</h1>
<form method="get" action="{% url 'claim_search' %}">
    <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Claim Search" value="{{ q }}">
    <input type="text" id="dateFromSearchBox" class="input-medium search-query" name="df" placeholder="Date From" value="{{ df }}">
    <input type="text" id="dateToSearchBox" class="input-medium search-query" name="dt" placeholder="Date To" value="{{ dt }}">
    <label><input type="checkbox" name="apd" {% if apd %}checked{% endif %}> Requires Actual Paid Date</label>
    <input type="submit" class="btn" value="Search">
</form>
{% if claims %}
    {% include 'clients/snippets/claims.html' %}
{% elif q or df or dt %}
    <p>There are no claims for this search.</p>
{% else %}
    <p>There are no claims currenty.</p>
{% endif %}

<!-- Pagination stuff -->
<div class="pagination">
    <span class="step-links">
        {% if claims.has_previous %}
            <a href="?q={{q}}&df={{df}}&dt={{dt}}&page={{ claims.previous_page_number }}" class="btn btn-default">Previous</a>
        {% endif %}

        {% if claims.number %}
            <span class="current">
                Page {{ claims.number }} of {{ claims.paginator.num_pages }}.
            </span>
        {% endif %}

        {% if claims.has_next %}
            <a href="?q={{q}}&df={{df}}&dt={{dt}}&page={{ claims.next_page_number }}" class="btn btn-default">Next</a>
        {% endif %}
    </span>
</div>
<form method="GET" style="display: inline-block;">
    {% if q %}
        <input type="hidden" name="q" value="{{ q }}">
    {% endif %}
    {% if df %}
        <input type="hidden" name="df" value="{{ df }}">
    {% endif %}
    {% if dt %}
        <input type="hidden" name="dt" value="{{ dt }}">
    {% endif %}
    Rows per Page: <input type="number" id="claims_rows_per_page" name="claims_rows_per_page" value="{{ claims_rows_per_page }}">
    <input type="submit" class="btn" value="Paginate">
</form>
<table class="table table-striped table-cover">
    <thead>
        <tr>
            <th>Claims Total Amount Claimed</th>
            <th>Pending Claims Total Amount Claimed</th>
            <th>Claims Total Expected Back</th>
            <th>Pending Claims Total Expected Back</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ claims_total_amount_claimed }}</td>
            <td>{{ pending_claims_total_amount_claimed }}</td>
            <td>{{ claims_total_expected_back }}</td>
            <td>{{ pending_claims_total_expected_back }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
