{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load mathfilters %}

{% block title %} - Claim Under {{ client }}{% endblock %}

{% block content %}
<h1>Claim for {{ client }}</h1>
<div>
    <a href="{% url 'fillOutInvoice' client.id claim.id %}" class="btn btn-default">Generate Invoice</a>
    <a href="{% url 'fillOutInsurance' client.id claim.id %}" class="btn btn-default">Insurance Letter</a>
    <a href="{% url 'fillOutProof' client.id claim.id %}" class="btn btn-default">Proof of Manufacturing</a>
</div>
<h5>Claim Details</h5>
<ul>
    <li>Patient: {{ claim.patient}}</li>
    <li>Claim Type: {{ claim.claimType }}</li>
    <li>Payment Type: {{ claim.paymentType }}</li>
    <li>Amount Claimed: {{ claim.amountClaimed }}</li>
    <li>Expected Back: {{ claim.expectedBack }}</li>
</ul>
<h5>Payment Status</h5>
<ul>
    <li>Submitted Date: {{ claim.submittedDate }}</li>
    <li>Invoice Date: {{ claim.invoiceDate }}</li>
    <li>Paid Date: {{ claim.paidDate }}</li>
</ul>
{% endblock %}
