{% extends 'base.html' %}

{% block title %} - Claims{% endblock %}

{% block extra_head %}
    {% now 'Y' as current_year %}
    <script>
        $(function() {
            $("#actual_paid_date_from").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $("#actual_paid_date_to").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $("#submitted_date_from").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
            $("#submitted_date_to").datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
        });
    </script>
{% endblock %}

{% include 'navbar.html' %}

{% block content %}

    {% include 'clients/snippets/messages.html' %}
    <h1>Claims</h1>
    <form method="GET" class="form-inline">
        <div class="form-group">
            <input type="text" id="searchBox" class="form-control search-query" name="q" placeholder="Claim Search" value="{{ q }}">
        </div>
        <div class="form-group">
            <input type="text" id="actual_paid_date_from" class="form-control search-query" name="apdf" placeholder="Actual Paid Date From" value="{{ apdf }}">
        </div>
        <div class="form-group">
            <input type="text" id="actual_paid_date_to" class="form-control search-query" name="apdt" placeholder="Actual Paid Date To" value="{{ apdt }}">
        </div>
        <div class="form-group">
            <input type="text" id="submitted_date_from" class="form-control search-query" name="sdf" placeholder="Submitted Date From" value="{{ sdf }}">
        </div>
        <div class="form-group">
            <input type="text" id="submitted_date_to" class="form-control search-query" name="sdt" placeholder="Submitted Date To" value="{{ sdt }}">
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="apd" value="has_actual_paid_date" {% if apd == 'has_actual_paid_date' %}checked{% endif %}>
                Has Actual Paid Date
            </label>
            <br />
            <label>
                <input type="radio" name="apd" value="no_actual_paid_date" {% if apd == 'no_actual_paid_date' %}checked{% endif %}>
                No Actual Paid Date
            </label>
            <br />
            <label>
                <input type="radio" name="apd" value="both_actual_paid_date" {% if apd == 'both_actual_paid_date' %}checked{% endif %}>
                Both
            </label>
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    {% if claims %}
        {% include 'clients/snippets/claims.html' %}
    {% elif q or df or dt %}
        <p>There are no claims for this search.</p>
    {% else %}
        <p>There are no claims currenty.</p>
    {% endif %}

    <!-- Pagination stuff -->
    <div class="pagination">
        <span class="step-links">
            {% if claims.has_previous %}
                <a href="?q={{ q }}&apdf={{ apdf }}&apdt={{ apdt }}&sdf={{ sdf }}&sdt={{ sdt }}&apd={{ apd }}&page={{ claims.previous_page_number }}" class="btn btn-default">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ claims.number }} of {{ claims.paginator.num_pages }}.
            </span>

            {% if claims.has_next %}
                <a href="?q={{ q }}&apdf={{ apdf }}&apdt={{ apdt }}&sdf={{ sdf }}&sdt={{ sdt }}&apd={{ apd }}&page={{ claims.next_page_number }}" class="btn btn-default">Next</a>
            {% endif %}
        </span>
    </div>
    <form method="GET" class="form-inline" style="display: inline-block;">
        {% if q %}
            <input type="hidden" name="q" value="{{ q }}">
        {% endif %}
        {% if apdf %}
            <input type="hidden" name="apdf" value="{{ apdf }}">
        {% endif %}
        {% if apdt %}
            <input type="hidden" name="apdt" value="{{ apdt }}">
        {% endif %}
        {% if sdf %}
            <input type="hidden" name="sdf" value="{{ sdf }}">
        {% endif %}
        {% if sdt %}
            <input type="hidden" name="sdt" value="{{ sdt }}">
        {% endif %}
        {% if apd %}
            <input type="hidden" name="apd" value="{{ apd }}">
        {% endif %}
        <div class="form-group">
            Rows per Page:
            <input type="number" id="claims_rows_per_page" name="claims_rows_per_page" class="form-control" value="{{ claims_rows_per_page }}">
        </div>
        <button type="submit" class="btn">Paginate</button>
    </form>
    <div>
        A = Assignment,
        NA = Non-assignment,
        EB = Expected Back,
        AC = Amount Claimed
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NA EB</th>
                    <th>A EB</th>
                    <th>Pending A EB</th>
                    <th>Total A EB</th>
                    <th>Total EB</th>
                    <th>NA AC</th>
                    <th>A AC</th>
                    <th>Total AC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ non_assignment_expected_back }}</td>
                    <td>{{ assignment_expected_back }}</td>
                    <td>{{ pending_assignment_expected_back }}</td>
                    <td>{{ total_assignment_expected_back }}</td>
                    <td>{{ total_expected_back }}</td>
                    <td>{{ non_assignment_amount_claimed }}</td>
                    <td>{{ assignment_amount_claimed }}</td>
                    <td>{{ total_amount_claimed }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
