{% extends 'base.html' %}

{% load pipeline %}
{% load crispy_forms_tags %}
{% load template_utils %}

{% get_app_settings 'pipeline' as pipeline_settings %}

{% block title %} - Claims{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% javascript 'claims' %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        'claims_all_js': ['jQuery'],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {# we want to show the label on inline select #}
        $('label[for="id_payment_type"]').removeClass('sr-only');

        {% now 'Y' as current_year %}
        var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

        $(document).ready(function() {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: year_range,
            });
        });

        var GET = $('#search').serialize();
        if (GET.length) { GET = '?' + GET; }
        var url = "{% url 'claims_search_stats' %}" + GET;
        var claims_stats = false;
        $('#stats').on('show.bs.collapse', function() {
            if (claims_stats) { return; }

            $.post(url).done(function(data) {
                if (data) {
                    for (var key in data) {
                        $('#' + key).text('$' + data[key]);
                    }
                    claims_stats = true;
                    $('#stats_msg').fadeOut();
                }
                else {
                    window.alert(
                        'Something went wrong...'
                    );
                }
            }).fail(function(xhr) {
                var json = {};
                try {
                    json = JSON.parse(xhr.responseText);
                }
                catch (e) {
                    // pass
                    console.log('Could not parse json');
                }
                var msg = '';
                if ('error' in json) {
                    msg = json['error'];
                }
                else {
                    for (var key in json) {
                        msg += json[key] + '\n';
                    }
                }
                if (!msg.length) {
                    msg = 'Something went wrong...';
                }
                window.alert(msg);
            });
        });
    {% endblock %}
</script>

{% block content %}

    <h1>
        Claims
    </h1>
    {% include 'utils/snippets/messages.html' %}
    <form method="GET" class="form-inline" id="search">
        <div class="form-group inline">
            <input type="text" id="searchBox" class="form-control search-query" name="q" placeholder="Claim Search" value="{{ q }}" autofocus />
        </div>
        <div class="form-group inline">
            <input type="text" class="form-control search-query datepicker" name="apdf" placeholder="Actual Paid Date From" value="{{ apdf }}">
        </div>
        <div class="form-group inline">
            <input type="text" class="form-control search-query datepicker" name="apdt" placeholder="Actual Paid Date To" value="{{ apdt }}">
        </div>
        <div class="form-group inline">
            <input type="text" class="form-control search-query datepicker" name="sdf" placeholder="Submitted Date From" value="{{ sdf }}">
        </div>
        <div class="form-group inline">
            <input type="text" class="form-control search-query datepicker" name="sdt" placeholder="Submitted Date To" value="{{ sdt }}">
        </div>

        {% crispy payment_type_form %}

        <div class="radio inline">
            <label>
                <input type="radio" name="apd" value="has_actual_paid_date" {% if apd == 'has_actual_paid_date' %}checked{% endif %}>
                Has Actual Paid Date
            </label>
            <br />
            <label>
                <input type="radio" name="apd" value="no_actual_paid_date" {% if apd == 'no_actual_paid_date' %}checked{% endif %}>
                No Actual Paid Date
            </label>
            <br />
            <label>
                <input type="radio" name="apd" value="both_actual_paid_date" {% if apd == 'both_actual_paid_date' %}checked{% endif %}>
                Both
            </label>
        </div>
        <button type="submit" class="btn">
            Search
        </button>
    </form>
    {% if claims %}
        {% include 'clients/snippets/claims.html' %}
    {% elif q or apdf or apdt or sdf or sdt or payment_type or apd %}
        <p>
            There are no claims for this search.
        </p>
    {% else %}
        <p>
            There are no claims currenty.
        </p>
    {% endif %}

    <!-- Pagination stuff -->
    <div class="pagination">
        <span class="step-links">
            {% if claims.has_previous %}
                <a href="?q={{ q }}&apdf={{ apdf }}&apdt={{ apdt }}&sdf={{ sdf }}&sdt={{ sdt }}&payment_type={{ payment_type }}&apd={{ apd }}&page={{ claims.previous_page_number }}" class="btn btn-default">
                    Previous
                </a>
            {% endif %}

            <span class="current">
                Page {{ claims.number }} of {{ claims.paginator.num_pages }}.
            </span>

            {% if claims.has_next %}
                <a href="?q={{ q }}&apdf={{ apdf }}&apdt={{ apdt }}&sdf={{ sdf }}&sdt={{ sdt }}&payment_type={{ payment_type }}&apd={{ apd }}&page={{ claims.next_page_number }}" class="btn btn-default inline">
                    Next
                </a>
            {% endif %}
        </span>
    </div>
    <form method="GET" class="form-inline" style="display: inline-block;">
        {% if q %}
            <input type="hidden" name="q" value="{{ q }}">
        {% endif %}
        {% if apdf %}
            <input type="hidden" name="apdf" value="{{ apdf }}">
        {% endif %}
        {% if apdt %}
            <input type="hidden" name="apdt" value="{{ apdt }}">
        {% endif %}
        {% if sdf %}
            <input type="hidden" name="sdf" value="{{ sdf }}">
        {% endif %}
        {% if sdt %}
            <input type="hidden" name="sdt" value="{{ sdt }}">
        {% endif %}
        {% if payment_type %}
            <input type="hidden"
                    name="payment_type"
                    value="{{ payment_type }}" />
        {% endif %}
        {% if apd %}
            <input type="hidden" name="apd" value="{{ apd }}">
        {% endif %}
        <div class="form-group">
            Rows per Page:
            <input type="number" id="claims_rows_per_page" name="claims_rows_per_page" class="form-control" value="{{ claims_rows_per_page }}">
        </div>
        <button type="submit" class="btn">
            Paginate
        </button>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_stats"
                        data-toggle="collapse"
                        data-target="#stats">
                    Statistics
                    <span class="caret"></span>
                    {% if pipeline_settings.settings.PIPELINE_ENABLED %}
                        &nbsp;
                    {% endif %}
                    <span id="stats_msg">(click here to load)</span>
                </a>
            </div>
        </div>
        <div id="stats" class="collapse">
            <div class="panel-body">
                A = Assignment,
                NA = Non-assignment,
                EB = Expected Back,
                AC = Amount Claimed
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                NA EB
                            </th>
                            <th>
                                A EB
                            </th>
                            <th>
                                Pending A EB
                            </th>
                            <th>
                                Total A EB
                            </th>
                            <th>
                                Total EB
                            </th>
                            <th>
                                NA AC
                            </th>
                            <th>
                                A AC
                            </th>
                            <th>
                                Total AC
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="non_assignment_expected_back"></td>
                            <td id="assignment_expected_back"></td>
                            <td id="pending_assignment_expected_back"></td>
                            <td id="total_assignment_expected_back"></td>
                            <td id="total_expected_back"></td>
                            <td id="non_assignment_amount_claimed"></td>
                            <td id="assignment_amount_claimed"></td>
                            <td id="total_amount_claimed"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
