{% extends 'base.html' %}

{% block title %} - Clients{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<h1>Clients</h1>
<div>
    <a href="{% url 'add_client' %}" class="btn btn-primary">Add a New Client</a>
    <!-- <a href="{% url 'add_client_test' %}" class="btn btn-primary">Add a New Client</a> -->
</div>
<br />
<form method="get" action="{% url 'client_search' %}">
    <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Client Search">
    <input type="submit" class="btn" value="Search">
</form>
{% if clients %}
    <table class="table table-striped table-cover">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Credit</th>
                <th>Employer</th>
            </tr>
        </thead>
        <tbody>
    {% for client in clients %}
        <tr>
            <td>
                <a href="{% url 'client' client.id %}">
                    {{ client.full_name }}
                </a>
            </td>
            <td>{{client.address}}</td>
            <td>{{client.phone_number}}</td>
            <td>{{client.email}}</td>
            <td>{{ client.get_gender_display }}</td>
            <td>{{client.credit}}</td>
            <td>{{client.employer}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No results found</p>
{% endif %}

<!-- Pagination stuff -->
<div class="pagination">
    <span class="step-links">
        {% if clients.has_previous %}
            {% if q %}
                <a href="?q={{q}}&page={{ clients.previous_page_number }}" class="btn btn-default">Previous</a>
            {% else %}
                <a href="?page={{ clients.previous_page_number }}" class="btn btn-default">Previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ clients.number }} of {{ clients.paginator.num_pages }}.
        </span>

        {% if clients.has_next %}
            {% if q %}
                <a href="?q={{q}}&page={{ clients.next_page_number }}" class="btn btn-default">Next</a>
            {% else %}
                <a href="?page={{ clients.next_page_number }}" class="btn btn-default">Next</a>
            {% endif %}
        {% endif %}
    </span>
</div>

{% endblock %}
