{% extends 'base.html' %}

{% block title %} - Clients{% endblock %}

{% block content %}

    <h1>Clients</h1>
    {% include 'utils/snippets/messages.html' %}
    <div>
        <a href="{% url 'add_client' %}" class="btn btn-primary">Add a New Client</a>
        <!-- <a href="{% url 'add_client_test' %}" class="btn btn-primary">Add a New Client</a> -->
    </div>
    <br />
    <form class="form-inline" method="GET">
        <div class="form-group inline">
            <input type="text"
                    class="form-control"
                    name="q"
                    placeholder="Client Search"
                    value="{{ q }}"
                    autofocus />
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    {% if clients %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Credit</th>
                        <th>Employer</th>
                    </tr>
                </thead>
                <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{{ client.get_absolute_url }}">
                            {{ client.full_name }}
                        </a>
                    </td>
                    <td>{{client.address}}</td>
                    <td>{{client.phone_number}}</td>
                    <td>{{client.email}}</td>
                    <td>{{ client.get_gender_display }}</td>
                    <td>{{ client.credit2 }}</td>
                    <td>{{client.employer}}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No results found</p>
    {% endif %}

    <!-- Pagination stuff -->
    <div class="pagination">
        <span class="step-links">
            {% if clients.has_previous %}
                <a href="?q={{q}}&page={{ clients.previous_page_number }}" class="btn btn-default">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ clients.number }} of {{ clients.paginator.num_pages }}.
            </span>

            {% if clients.has_next %}
                <a href="?q={{q}}&page={{ clients.next_page_number }}" class="btn btn-default inline">Next</a>
            {% endif %}
        </span>
    </div>
    <form method="GET" class="form-inline" style="display: inline-block;">
        {% if q %}
            <input type="hidden" name="q" value="{{ q }}">
        {% endif %}
        <div class="form-group">
            Rows per Page:
            <input type="number" id="clients_rows_per_page" name="clients_rows_per_page" class="form-control" value="{{ clients_rows_per_page }}">
        </div>
        <button type="submit" class="btn">Paginate</button>
    </form>

{% endblock %}
