{% extends 'base.html' %}

{% load verbose_name %}

{% include 'navbar.html' %}

{% block title %} - {{ client.full_name }}{% endblock %}

{% block content %}

<h1>{{ client.full_name }}</h1>
<div>
    <a href="{% url 'claim_create' client.id %}" class="btn btn-primary">Create Claim</a>
</div>
<br />
<div class="pull-right">
    <a href="{% url 'client_edit' client.id %}" class="btn btn-default">Edit</a>
    <a href="{% url 'client_delete' client.id %}" class="btn btn-default">Delete</a>
</div>
<div class="well">
    <h3>Information</h3>
    <div style="width: 50%; float: left;">
        <h5>Personal</h5>
        <ul>
            <li>{% verbose_field_name client "birth_date" %}:
                {{ client.birth_date }}
            </li>
            <li>{% verbose_field_name client "gender" %}:
                {{ client.get_gender_display }}
            </li>
            <li>{% verbose_field_name client "employer" %}:
                {{ client.employer }}
            </li>
        </ul>
        <h5>Location</h5>
        <ul>
            <li>{% verbose_field_name client "address" %}:
                {{ client.address }}
            </li>
            <li>{% verbose_field_name client "city" %}:
                {{ client.city }}
            </li>
            <li>{% verbose_field_name client "province" %}:
                {{ client.province }}
            </li>
            <li>{% verbose_field_name client "postal_code" %}:
                {{ client.postal_code }}
            </li>
        </ul>
        <h5>Contact</h5>
        <ul>
            <li>{% verbose_field_name client "phone_number" %}:
                {{ client.phone_number }}
            </li>
            <li>{% verbose_field_name client "cell_number" %}:
                {{ client.cell_number }}
            </li>
            <li>{% verbose_field_name client "email" %}:
                {{ client.email }}
            </li>
        </ul>
    </div>
    <div style="width: 50%; float: right;">
        <h5>Healthcare</h5>
        <ul>
            <li>{% verbose_field_name client "health_care_number" %}:
                {{client.health_care_number }}
            </li>
        </ul>
        <h5>Other</h5>
        <ul>
            <li>Credit: {{ client.credit }}<br />
                (All Payments and Deposits Made on Claims with an Insurance Paid Date / 150)
            </li>
            <li>{% verbose_field_name client "referred_by" %}:
                <a href="{{ client.referred_by.get_absolute_url }}">
                    {{ client.referred_by.full_name }}
                </a>
            </li>
            <li>{% verbose_field_name client "notes" %}:
                {{ client.notes }}
            </li>
        </ul>
    </div>
    <br style="clear: both;"/>
</div>

<div class="pull-right">
    <a href="{% url 'add_new_dependent' client.id %}" class="btn btn-default">Add Dependent</a>
</div>
<div class="well">
<h3>Dependents</h3>
{% if spouse %}
    <h4>Spouse</h4>
    <table class="table table-striped table-cover">
        <thead>
            <tr>
                <th>Name</th>
                <th>{% verbose_field_name spouse "birth_date" %}</th>
                <th>{% verbose_field_name spouse "gender" %}</th>
                <th>{% verbose_field_name spouse "employer" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="{{ spouse.id }}">{{ spouse.full_name }}</td>
                <td>{{ spouse.birth_date }}</td>
                <td>{{ spouse.get_gender_display }}</td>
                <td>{{ spouse.employer }}</td>
                <td>
                    <div class="pull-right">
                        <a href="{% url 'insurance_create_spouse' client.id spouse.id %}" class="btn btn-default">Add Insurance</a>
                        <a href="{% url 'dependent_edit' client.id spouse.id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'dependent_delete' client.id spouse.id %}" class="btn btn-default">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p>There is no Spouse for this Client currently.</p>
{% endif %}
{% if children %}
    <h4>Children</h4>
    <table class="table table-striped table-cover">
        <thead>
            <tr>
                <th>Name</th>
                <th>{% verbose_field_name dependent_class "birth_date" %}</th>
                <th>{% verbose_field_name dependent_class "gender" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
                <tr>
                    <td id="{{ child.id }}">{{ child.full_name }}</td>
                    <td>{{ child.birth_date }}</td>
                    <td>{{ child.get_gender_display }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'dependent_edit' client.id child.id %}" class="btn btn-default">Edit</a>
                            <a href="{% url 'dependent_delete' client.id child.id %}" class="btn btn-default">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no Children for this Client currently.</p>
{% endif %}
</div>

<div class="pull-right">
    <a href="{% url 'insurance_create' client.id %}" class="btn btn-default">Add Insurance</a>
</div>
<div class="well">
    <h3>Client Insurance</h3>
    {% if client_insurance %}
        {% with insurances=client_insurance %}
            {% include 'clients/snippets/insurances.html' %}
        {% endwith %}
    {% else %}
        <p>There are no Insurances for this Client currently.</p>
    {% endif %}
</div>

<div class="well">
    <h3>Claims</h3>
    {% if client_claims %}
        {% with claims=client_claims %}
            {% include 'clients/snippets/claims.html' %}
        {% endwith %}
    {% else %}
        <p>There are no Claims for this Client currenty.</p>
    {% endif %}
</div>

{% endblock %}
