{% extends 'base.html' %}

{% load verbose_name %}
{% load crispy_forms_tags %}
{% load update_attrs %}
{% load nbsp %}
{% load pipeline %}
{% load fallback_tags %}
{% load groups %}

{% block title %} - {{ client.full_name }}{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% stylesheet 'client' %}

        {% javascript 'client' %}

        js_reverse: '/jsreverse/',
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% pipeline_css_shim 'client' 'bootstrap_css' %}

        {% pipeline_js_shim 'client' 'jQuery' %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {% if 'toggle' in request.GET %}
            var id = '#' + '{{ request.GET.toggle }}';
            $(id).collapse('show');
        {% else %}
            var id = '';
        {% endif %}
        if (location.hash) {
            location.hash = location.hash; {# go to location on refresh #}
        }
        else if (id) {
            location.hash = id;
        }

        var benefits_lookup = {
            {% for unpaid_claims_reminder in unpaid_claims_reminders %}
                '{{ unpaid_claims_reminder.pk }}':
                    [{% for insurance in unpaid_claims_reminder.claim.insurances.all %}
                        '{{ insurance.benefits }}',
                    {% endfor %}],
            {% endfor %}
        };

        // Reminders
        window.reminders = window.reminders || {};
        var reminders_init = window.reminders.reminders_init;
        if ($.isFunction(reminders_init)) {
            reminders_init(benefits_lookup);
        }
        else {
            throw new Error('Could not load reminders');
        }

        // Notes
        {% for note in client.note_set.all %}
            $('#{{ note.id }}_note_delete').on('click', function() {
                var c = window.confirm(
                    'Delete "' + '{{ note.notes|escapejs }}"?'
                );
                if (c) {
                    $(
                        '<form method="POST">' +
                        '<input name="csrfmiddlewaretoken" value="' +
                        $('input[name="csrfmiddlewaretoken"]').val() +
                        '">' +
                        '<input name="delete_note_id" value="{{ note.id }}">' +
                        '</form>'
                    ).appendTo($(document.body)).submit();
                }
            });
        {% endfor %}
        $('#note-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var note = button.data('note');
            var modal = $(this);
            modal.find('#id_notes').val(note);
            modal.find('#note_id').val(id);
        });

        var url = "{% url 'client-history' pk=client.pk %}";
        {% include 'partials/history.js' %}
    {% endblock %}
</script>

{% block content %}

    {% csrf_token %}

    {% get_groups user as user_groups %}

    <h1>{{ client.full_name }}</h1>

    {% include 'utils/snippets/messages.html' %}

    <div>
        <a href="{% url 'claim_create' client.id %}?reset" class="btn btn-primary inline">
            Create Claim
        </a>
        <a href="{% url 'shoe_order_person_create' client.pk %}" class="btn btn-primary inline">
            Create Shoe Order
        </a>
        <a href="{% url 'coverage_order_person_create' client.pk %}" class="btn btn-primary inline">
            Create Coverage Order
        </a>
        <a href="{% url 'adjustment_order_person_create' client.pk %}" class="btn btn-primary">
            Create Adjustment Order
        </a>
    </div>

    <br />

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a href="#toggle_information" data-toggle="collapse" data-target="#information">
                    Information
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="{% url 'client_edit' client.id %}" class="btn btn-default">
                    Update
                </a>
                <a href="{% url 'client_delete' client.id %}" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
        <div id="information" class="panel-body collapse in">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-horizontal form-static">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                <h5>
                                    Personal
                                </h5>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "birth_date" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.birth_date }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                Age
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.age }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "gender" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.get_gender_display }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "employer" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.employer }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                <h5>
                                    Location
                                </h5>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "address" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.address }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "city" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.city }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "province" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.province }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "postal_code" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.postal_code }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                <h5>
                                    Contact
                                </h5>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "phone_number" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.phone_number }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "cell_number" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.cell_number }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                {% verbose_field_name client "email" %}
                            </label>
                            <div class="col-lg-9">
                                <p class="form-control-static">
                                    {{ client.email }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-horizontal form-static">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                <h5>
                                    Healthcare
                                </h5>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                {% verbose_field_name client "health_care_number" %}
                            </label>
                            <div class="col-lg-8">
                                <p class="form-control-static">
                                    {{ client.health_care_number }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                <h5>
                                    Other
                                </h5>
                            </label>
                        </div>
                        {% if groups.Shoe_Info in user_groups %}
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Credit
                            </label>
                            <div class="col-lg-8">
                                <p class="form-control-static">
                                    {{ client.credit2 }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {% if groups.Notes in user_groups %}
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                {% verbose_field_name client "notes" %}
                            </label>
                            <div class="col-lg-8">
                                <p class="form-control-static">
                                    {{ client.notes|nbsp_double|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                {% verbose_field_name client "created" %}
                            </label>
                            <div class="col-lg-8">
                                <p class="form-control-static">
                                    {{ client.created }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="note-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Note</h4>
                </div>
                <form method="POST">
                    <div class="modal-body">
                        {% crispy note_form %}
                        <input type="hidden" name="note_id" id="note_id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                            name="note_submit"
                            class="btn btn-primary pull-left"
                            >
                            Update
                        </button>
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            >
                            Close
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% if groups.Notes in user_groups %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_notes" data-toggle="collapse" data-target="#notes">
                    Notes
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="notes" class="collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-horizontal form-static">
                            {% if client.note_set.exists %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 200px;">
                                                    Created
                                                </th>
                                                <th>
                                                    Notes
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for note in client.note_set.all %}
                                                <tr>
                                                    <td>
                                                        <p>
                                                            {{ note.created }}
                                                        </p>
                                                        <button type="button"
                                                            class="btn btn-default crud"
                                                            data-toggle="modal"
                                                            data-target="#note-modal"
                                                            data-id="{{ note.id }}"
                                                            data-note="{{ note.notes }}"
                                                            >
                                                            Update
                                                        </button>
                                                        <br />
                                                        <button type="button"
                                                            class="btn btn-danger crud"
                                                            id="{{ note.id }}_note_delete"
                                                            >
                                                            Delete
                                                        </button>
                                                    </td>
                                                    <td>
                                                        {{ note.notes|nbsp_double|linebreaksbr }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <p class="form-control-static">
                                            There are no Notes.
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>{# ./form-horizontal #}
                    </div>{# ./col-lg-7 #}
                    <div class="col-lg-5">
                        <form method="POST">
                            {% crispy note_form %}
                            <button name="note_submit" type="submit" class="btn btn-primary">
                                Add Note
                            </button>
                        </form>
                    </div>{# ./col-lg-5 #}
                </div>
            </div>
            <hr>
            <div class="panel-body">
                <div class="col-lg-6">
                    {% if unpaid_claim_message_logs %}
                        <div class="table-responsive">
                            <table class="table">
                                <caption style="margin-left: 8px;">
                                    Unpaid Claim message logs
                                </caption>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Sent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in unpaid_claim_message_logs %}
                                        <tr>
                                            <td>{{ log.get_msg_type_display }}</td>
                                            <td>{{ log.created }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if unpaid_claim_message_logs %}
                        {% include 'utils/snippets/pagination.html' with page_obj=unpaid_claim_message_logs rows_per_page=unpaid_claim_message_logs_rows_per_page page_var='unpaid_claim_message_logs_page' rows_per_page_var='unpaid_claim_message_logs_rows_per_page' %}
                    {% else %}
                        There are no Unpaid Claim message logs.
                    {% endif %}
                </div>{# /.col-lg-6 #}
                <div class="col-lg-6">
                    {% if order_arrived_message_logs %}
                        <div class="table-responsive">
                            <table class="table">
                                <caption style="margin-left: 8px;">
                                    Order Arrived message logs
                                </caption>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Sent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in order_arrived_message_logs %}
                                        <tr>
                                            <td>{{ log.get_msg_type_display }}</td>
                                            <td>{{ log.created }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if order_arrived_message_logs %}
                        {% include 'utils/snippets/pagination.html' with page_obj=order_arrived_message_logs rows_per_page=order_arrived_message_logs_rows_per_page page_var='order_arrived_message_logs_page' rows_per_page_var='order_arrived_message_logs_rows_per_page' %}
                    {% else %}
                        There are no Order Arrived message logs.
                    {% endif %}
                </div>{# /.col-lg-6 #}
            </div>{# /.panel-body #}
        </div>
    </div>
    {% endif %}

    {% if groups.Referrals in user_groups %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_referrals" data-toggle="collapse" data-target="#referrals">
                    Referrals
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="referrals" class="panel-body collapse in">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-horizontal form-static">
                        {% include 'clients/snippets/referrals.html' with object=client %}
                        {% for dependent in client.dependent_set.all %}
                            {% include 'clients/snippets/referrals.html' with object=dependent hide_referred_by=True %}
                        {% endfor %}
                        <div class="form-group">
                            <label class="col-lg-3 control-label">
                                <h5>
                                    History
                                </h5>
                            </label>
                        </div>
                        {% for referral in client.referral_set.all %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">
                                    Credit Value
                                </label>
                                <div class="col-lg-9">
                                    <p class="form-control-static">
                                        {{ referral.credit_value }}
                                    </p>
                                </div>
                                <label class="col-lg-3 control-label">
                                    Claims
                                </label>
                                <div class="col-lg-9">
                                    <ul style="margin-left: -20px;">
                                        {% for claim in referral.claims.all %}
                                            <li>
                                                <a href="{% url 'claim' claim.pk %}">
                                                    {{ claim.patient }} - {{ claim.submitted_datetime }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% empty %}
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <p class="form-control-static">
                                        There are no credited Referrals.
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% if referral_form %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group{% if referral_form.claims.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ referral_form.claims.auto_id }}">
                                    {{ referral_form.claims.label }}{% if referral_form.claims.field.required %}*{% endif %}
                                </label>
                                {% for checkbox in referral_form.claims %}
                                    <div class="checkbox">
                                        {{ checkbox }}
                                        <a href="{% url 'claim' checkbox.choice_value %}" class="btn btn-default">
                                            View Claim
                                        </a>
                                    </div>
                                {% endfor %}
                                {% if referral_form.claims.errors %}
                                    <span class="help-block">
                                        {{ referral_form.claims.errors }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ referral_form.credit_value|as_crispy_field }}
                                </div>
                            </div>
                            <button name="referral_submit" type="submit" class="btn btn-primary">
                                Add Credit
                            </button>
                        </form>
                    {% else %}
                        <div class="form-horizontal form-static">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="form-control-static">
                                            There are no Claims available for Credit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a href="#toggle_dependents" data-toggle="collapse" data-target="#dependents">
                    Dependents
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="{% url 'add_new_dependent' client.id %}" class="btn btn-default">Add Dependent</a>
            </div>
        </div>
        <div id="dependents" class="panel-body collapse">
            {% if spouse %}
                <h4>
                    Spouse
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    {% verbose_field_name spouse "birth_date" %}
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    {% verbose_field_name spouse "gender" %}
                                </th>
                                <th>
                                    {% verbose_field_name spouse "health_care_number" %}
                                </th>
                                <th>
                                    {% verbose_field_name spouse "created" %}
                                </th>
                                <th>
                                    {% verbose_field_name spouse "employer" %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 181px;"><!-- from computed when width < 181 -->
                                    <a href="{% url 'shoe_order_person_create' spouse.id %}" class="btn btn-default spouse-crud">
                                        Add Shoe Order
                                    </a>
                                    <br />
                                    <a href="{% url 'coverage_order_person_create' spouse.id %}" class="btn btn-default spouse-crud">
                                        Add Coverage Order
                                    </a>
                                    <br />
                                    <a href="{% url 'insurance_create_spouse' client.id spouse.id %}" class="btn btn-default spouse-crud">
                                        Add Insurance
                                    </a>
                                    <br />
                                    <a href="{% url 'dependent_edit' client.id spouse.id %}" class="btn btn-default spouse-crud">
                                        Update
                                    </a>
                                    <br />
                                    <a href="{% url 'dependent_delete' spouse.id %}" class="btn btn-danger spouse-crud">
                                        Delete
                                    </a>
                                </td>
                                <td>
                                    <a class="anchor" id="dependent_{{ spouse.id }}"></a>
                                    {{ spouse.full_name }}
                                </td>
                                <td>
                                    {{ spouse.birth_date }}
                                </td>
                                <td>
                                    {{ spouse.age }}
                                </td>
                                <td>
                                    {{ spouse.get_gender_display }}
                                </td>
                                <td>
                                    {{ spouse.health_care_number }}
                                </td>
                                <td>
                                    {{ spouse.created }}
                                </td>
                                <td>
                                    {{ spouse.employer }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>There is no Spouse for this Client currently.</p>
            {% endif %}
            {% if children %}
                <h4>
                    Children
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    {% verbose_field_name dependent_class "birth_date" %}
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    {% verbose_field_name dependent_class "gender" %}
                                </th>
                                <th>
                                    {% verbose_field_name dependent_class "health_care_number" %}
                                </th>
                                <th>
                                    {% verbose_field_name dependent_class "created" %}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child in children %}
                                <tr>
                                    <td style="width: 181px;"><!-- from computed when width < 181 -->
                                        <a href="{% url 'shoe_order_person_create' child.id %}" class="btn btn-default child-crud">
                                            Add Shoe Order
                                        </a>
                                        <br />
                                        <a href="{% url 'coverage_order_person_create' child.id %}" class="btn btn-default child-crud">
                                            Add Coverage Order
                                        </a>
                                        <br />
                                        <a href="{% url 'dependent_edit' client.id child.id %}" class="btn btn-default child-crud">
                                            Update
                                        </a>
                                        <br />
                                        <a href="{% url 'dependent_delete' child.id %}" class="btn btn-danger child-crud">
                                            Delete
                                        </a>
                                    </td>
                                    <td>
                                        <a class="anchor" id="dependent_{{ child.id }}"></a>
                                        {{ child.full_name }}
                                    </td>
                                    <td>
                                        {{ child.birth_date }}
                                    </td>
                                    <td>
                                        {{ child.age }}
                                    </td>
                                    <td>
                                        {{ child.get_gender_display }}
                                    </td>
                                    <td>
                                        {{ child.health_care_number }}
                                    </td>
                                    <td>
                                        {{ child.created }}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>There are no Children for this Client currently.</p>
            {% endif %}
        </div>
    </div>

    {% if groups.Insurance_Info in user_groups %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a href="#toggle_insurances" data-toggle="collapse" data-target="#insurances">
                    Insurances
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="{% url 'insurance_create' client.id %}" class="btn btn-default">Add Insurance</a>
            </div>
        </div>
        <div id="insurances" class="panel-body collapse">
            {% if insurances %}
                {% include 'clients/snippets/insurances.html' with disable_view=True %}
            {% else %}
                <p>There are no Insurances for this Client currently.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a href="#toggle_biomechanical_gaits" data-toggle="collapse" data-target="#biomechanical_gaits">
                    Biomechanical Gait Examination Forms
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="{% url 'biomechanical_gait_create' client.pk %}" class="btn btn-default">
                    Add Biomechanical Gait
                </a>
            </div>
        </div>
        <div id="biomechanical_gaits" class="panel-body collapse">
            {% if biomechanical_gaits %}
                {% include 'clients/snippets/biomechanical_gaits.html' %}
            {% else %}
                <p>
                    There are no Biomechanical Gaits for this Client currently.
                </p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                <a href="#toggle_biomechanical_gaits_2" data-toggle="collapse" data-target="#biomechanical_gaits_2">
                    Biomechanical Gait 2 Examination Forms
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="{% url 'biomechanical_gait_2_create' client.pk %}" class="btn btn-default">
                    Add Biomechanical Gait 2
                </a>
            </div>
        </div>
        <div id="biomechanical_gaits_2" class="panel-body collapse">
            {% if biomechanical_gaits_2 %}
                {% include 'clients/snippets/biomechanical_gaits_2.html' %}
            {% else %}
                <p>
                    There are no Biomechanical Gaits 2 for this Client currently.
                </p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_claims" data-toggle="collapse" data-target="#claims">
                    Claims
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">

            </div>
        </div>
        <div id="claims" class="panel-body collapse">
            {% if client_claims %}
                <!-- <form method="get" action="{% url 'claims' %}">
                    <input type="text" class="input-medium" name="q" placeholder="Claim Search" value="{{ q }}">
                    <input type="text" id="dateFromSearchBox" class="input-medium search-query" name="df" placeholder="Date From" value="{{ df }}">
                    <input type="text" id="dateToSearchBox" class="input-medium search-query" name="dt" placeholder="Date To" value="{{ dt }}">
                    <input type="submit" class="btn" value="Search">
                </form> -->
                {% with claims=client_claims %}
                    {% include 'clients/snippets/claims.html' %}
                {% endwith %}
                <!-- Pagination stuff -->
                <div class="pagination">
                    <span class="step-links">
                        {% if client_claims.has_previous %}
                            <!-- q={{q}}&df={{df}}&dt={{dt}}& -->
                            <a href="?claims_page={{ client_claims.previous_page_number }}" class="btn btn-default">Previous</a>
                        {% endif %}

                        {% if client_claims.number %}
                            <span class="current">
                                Page {{ client_claims.number }} of {{ client_claims.paginator.num_pages }}.
                            </span>
                        {% endif %}

                        {% if client_claims.has_next %}
                            <!-- q={{q}}&df={{df}}&dt={{dt}}& -->
                            <a href="?claims_page={{ client_claims.next_page_number }}" class="btn btn-default inline">Next</a>
                        {% endif %}
                    </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Client Total Amount Claimed</th>
                                <th>Pending Client Total Amount Claimed</th>
                                <th>Client Total Expected Back</th>
                                <th>Pending Client Total Expected Back</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ client_total_amount_claimed }}</td>
                                <td>{{ pending_client_total_amount_claimed }}</td>
                                <td>{{ client_total_expected_back }}</td>
                                <td>{{ pending_client_total_expected_back }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Client Expected Back</th>
                                <th>Client Cost</th>
                                <th>Margin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ client_expected_back }}</td>
                                <td>{{ client_cost }}</td>
                                <td>{{ margin }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>There are no Claims for this Client currently.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_orders" data-toggle="collapse" data-target="#orders">
                    Orders
                    <span class="caret"></span>
                </a>
            </div>
            <div class="btn-group pull-right">

            </div>
        </div>
        <div id="orders" class="panel-body collapse">
            {% if orders %}
                {% for order_info in orders %}
                    <h5>{{ order_info.name }}</h5>
                    {% with object_list=order_info.order_set model_name="order" hidden_fields=hidden_order_fields %}
                        {% include 'utils/generics/list_table.html' %}
                    {% endwith %}
                    <!-- Pagination stuff -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if order_info.order_set.has_previous %}
                                <a href="?{{ order_info.person_pk }}_page={{ order_info.order_set.previous_page_number }}" class="btn btn-default">Previous</a>
                            {% endif %}

                            {% if order_info.order_set.number %}
                                <span class="current">
                                    Page {{ order_info.order_set.number }} of {{ order_info.order_set.paginator.num_pages }}.
                                </span>
                            {% endif %}

                            {% if order_info.order_set.has_next %}
                                <a href="?{{ order_info.person_pk }}_page={{ order_info.order_set.next_page_number }}" class="btn btn-default inline">Next</a>
                            {% endif %}
                        </span>
                    </div>
                    <form method="GET" style="display: inline-block;">
                        Rows per Page: <input type="number" id="{{ order_info.person_pk }}_rows_per_page" name="{{ order_info.person_pk }}_rows_per_page" value="{{ order_info.rows_per_page }}">
                        <input type="submit" class="btn" value="Paginate">
                    </form>
                {% endfor %}
            {% else %}
                <p>There are no Orders for this Client or their dependents currently.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">
                <a href="#toggle_reminders"
                        data-toggle="collapse"
                        data-target="#reminders_panel">
                    Reminders
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div id="reminders_panel" class="collapse">
            {% if unpaid_claims_reminders %}
                <div class="panel-body">
                    <h4>Unpaid Claims</h4>
                </div>
                {% if unpaid_claims_reminders %}
                    {% with object_list=unpaid_claims_reminders model_name="unpaidclaimreminder" %}
                        {% include 'utils/generics/list_table.html' %}
                    {% endwith %}
                {% endif %}
            {% endif %}
            <div class="panel-body">
                {% if unpaid_claims_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=unpaid_claims_reminders rows_per_page=unpaid_claims_reminders_rows_per_page page_var='unpaid_claims_reminders_page' rows_per_page_var='unpaid_claims_reminders_rows_per_page' %}
                {% else %}
                    There are no unpaid Claims.
                {% endif %}
            </div>
            {% if arrived_orders_reminders %}
                <div class="panel-body">
                    <h4>Arrived Orders</h4>
                </div>
                {% if arrived_orders_reminders %}
                    {% with object_list=arrived_orders_reminders model_name="orderarrivedreminder" %}
                        {% include 'utils/generics/list_table.html' %}
                    {% endwith %}
                {% endif %}
            {% endif %}
            <div class="panel-body">
                {% if arrived_orders_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=arrived_orders_reminders rows_per_page=arrived_orders_reminders_rows_per_page page_var='arrived_orders_reminders_page' rows_per_page_var='arrived_orders_reminders_rows_per_page' %}
                {% else %}
                    There are no arrived Orders.
                {% endif %}
            </div>
            {% if claims_without_orders_reminders %}
                <div class="panel-body">
                    <h4>Claims without Orders</h4>
                </div>
                {% if claims_without_orders_reminders %}
                    {% with object_list=claims_without_orders_reminders model_name="claimorderreminder" %}
                        {% include 'utils/generics/list_table.html' %}
                    {% endwith %}
                {% endif %}
            {% endif %}
            <div class="panel-body">
                {% if claims_without_orders_reminders %}
                    {% include 'utils/snippets/pagination.html' with page_obj=claims_without_orders_reminders rows_per_page=claims_without_orders_reminders_rows_per_page page_var='claims_without_orders_reminders_page' rows_per_page_var='claims_without_orders_reminders_rows_per_page' %}
                {% else %}
                    There are no Claims without Orders.
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'reminders/snippets/reminder_modals.html' %}

    {% include 'partials/history.html' with model_name='Client' %}

{% endblock content %}
