{% extends 'base.html' %}
{% load mathfilters %}

{% include 'navbar.html' %}

{% block title %} - {{ client }}{% endblock %}

{% block content %}

<h1>{{ client }}</h1>
<div>
    <a href="{% url 'make_claim' client.id %}" class="btn btn-primary">Make Claim</a>
</div>
<br>
<div class="pull-right">
    <a href="{% url 'client_edit' client.id %}" class="btn btn-default">Edit</a>
    <a href="{% url 'client_delete' client.id %}" class="btn btn-default">Delete</a>
</div>
<div class="well">
    <h3>Personal Information</h3>
    <h5>Healthcare</h5>
    <ul>
        <li>Healthcare number: {{client.healthcareNumber}}</li>
    </ul>
    <h5>Personal</h5>
    <ul>
        <li>Birthdate: {{client.birthdate}}</li>
        <li>Gender: {{client.gender}}</li>
        <li>Employer: {{client.employer}}</li>
        <li>Referred by: {{client.referredBy}}</li>
    </ul>
    <h5>Location</h5>
    <ul>
        <li>Address: {{client.address}}</li>
        <li>City: {{client.city}}</li>
        <li>Postal code: {{client.postalCode}}</li>
    </ul>
    <h5>Contact</h5>
    <ul>
        <li>Home phone: {{client.phoneNumber}}</li>
        <li>Cell phone: {{client.cellNumber}}</li>
        <li>Email: {{client.email}}</li>
    </ul>
</div>

<div class="pull-right">
    <a href="{% url 'add_new_dependent' client.id %}" class="btn btn-default">Add Dependent</a>
</div>
<div class="well">
<h3>Dependents</h3>
</br>
{% if spouse %}
    <h4>Spouse</h4>
        <table class="table table-striped table-cover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{spouse.firstName}} {{spouse.lastName}}</td>
                    <td>{{spouse.birthdate}}</td>
                    <td>{{spouse.gender}}</td>
                    <td>
                    <div class="pull-right">
                        <a href="{% url 'insurance_create_spouse' client.id spouse.id %}" class="btn btn-default">Add Insurance</a>
                        <a href="{% url 'dependent_edit' client.id spouse.id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'dependent_delete' client.id spouse.id %}" class="btn btn-default">Delete</a>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
{% endif %}
</br>
{% if children %}
    <h4>Children</h4>
        <table class="table table-striped table-cover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for child in children %}
                <tr>
                    <td>{{child.firstName}} {{child.lastName}}</td>
                    <td>{{child.birthdate}}</td>
                    <td>{{child.gender}}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'dependent_edit' client.id child.id %}" class="btn btn-default">Edit</a>
                            <a href="{% url 'dependent_delete' client.id child.id %}" class="btn btn-default">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}
</div>

<div class="pull-right">
    <a href="{% url 'insurance_create' client.id %}" class="btn btn-default">Add Insurance</a>
</div>
<div class="well">
<h3>Client Insurance</h3>
{% if client_insurance %}
    <table class="table table-striped table-cover">
        <thead>
            <tr>
                <th>Client / Spouse</th>
                <th>Employer</th>
                <th>Provider</th>
                <th>Policy Number</th>
                <th>Contract Number</th>
                <th>Coverage Types</th>
                <th>Billing</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for insurance in client_insurance %}
            <tr>
                <td>
                    {% if insurance.spouse %}
                        {{ insurance.spouse }}
                    {% else %}
                        <a href="{% url 'client' insurance.client.id %}">
                            {{ insurance.client }}
                        </a>
                    {% endif %}
                </td>
                <td>{{insurance.client.employer}}
                <td>{{insurance.provider}}</td>
                <td>{{insurance.policyNumber}}</td>
                <td>{{insurance.contractNumber}}</td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Coverage Type</th>
                                <th>Coverage Percent</th>
                                <th>Max Coverage</th>
                                <th>Coverage Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coverageType in insurance.coveragetype_set.all %}
                            <tr>
                                <td>{{coverageType.coverageType}}</td>
                                <td>{{coverageType.coveragePercent}}</td>
                                <td>{{coverageType.maxClaimAmount}}</td>
                                <td>{{coverageType.maxClaimAmount|sub:coverageType.totalClaimed}}</td>
                                <!-- <td>
                                    <div class="pull-right">
                                        <a href="{% url 'coverage_type_edit' coverageType.id %}" class="btn btn-default">Edit</a>
                                        <a href="{% url 'coverage_type_delete' coverageType.id %}" class="btn btn-default">Delete</a>
                                    </div>
                                </td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>{{insurance.billing}}</td>
                <td>
                    <div class="pull-right">
                        <a href="{% url 'insurance_edit' insurance.id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'insurance_delete' insurance.id %}" class="btn btn-default">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This client doesnt have any insurance listed.</p>
{% endif %}
</div>

<div class="well">
<h3>Claims</h3>
</br>
{% if client_claims %}
    <table class="table table-striped table-cover">
        <thead>
            <tr>
                <th>Claim</th>
                <th>Client</th>
                <th>Patient</th>
                <th>Insurance</th>
                <th>Submitted Date</th>
                <th>Invoice Date</th>
                <th>Paid Date</th>
                <th>Amount Claimed</th>
                <th>Expected Back</th>
                <th>Payment Type</th>
                <th>Claim Type</th>
            </tr>
        </thead>
        <tbody>
            {% for claim in client_claims %}
            <tr>
                <td><a href="{% url 'claim' claim.client.id claim.id %}">{{ claim }}</a></td>
                <td>{{ claim.client }}</td>
                <td>{{ claim.patient }}</td>
                <td>{{ claim.insurance }}</td>
                <td>{{ claim.submittedDate }}</td>
                <td>{{ claim.invoiceDate }}</td>
                <td>{{ claim.paidDate }}</td>
                <td>{{ claim.amountClaimed }}</td>
                <td>{{ claim.expectedBack }}</td>
                <td>{{ claim.paymentType }}</td>
                <td>{{ claim.claimType }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>

{% endblock %}
