{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Coverages{% endblock %}

{% block content %}
    <h1>Coverages</h1>
    {% if insurances %}
        <table class="table table-striped table-cover">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Coverage Type</th>
                    <th>Coverage Percent</th>
                    <th>quantity</th>
                </tr>
            </thead>
            <tbody>
        {% for insurance in insurances %}
                <tr>
                    <td>{{insurance.client.firstName}} {{insurance.client.lastName}}</td>
                    <td>{{insurance.coverageType}}</td>
                    <td>{{insurance.coveragePercent}}</td>
                    <td>{{insurance.quantity}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No converage information could be found</p>
    {% endif %}
{% endblock %}

