{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Insurances{% endblock %}

{% block content %}

<h1>Insurances</h1>
<form method="get" action="{% url 'insurance_search' %}">
    <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Insurance Search">
    <input type="submit" class="btn" value="Search">
</form>
{% if insurances %}
    {% include 'clients/snippets/insurances.html' %}
{% else %}
    <p>There are no insurances currently.</p>
{% endif %}

<!-- Pagination stuff -->
<div class="pagination">
    <span class="step-links">
        {% if insurances.has_previous %}
            {% if q %}
                <a href="?q={{q}}&page={{ insurances.previous_page_number }}" class="btn btn-default">Previous</a>
            {% else %}
                <a href="?page={{ insurances.previous_page_number }}" class="btn btn-default">Previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ insurances.number }} of {{ insurances.paginator.num_pages }}.
        </span>

        {% if insurances.has_next %}
            {% if q %}
                <a href="?q={{q}}&page={{ insurances.next_page_number }}" class="btn btn-default">Next</a>
            {% else %}
                <a href="?page={{ insurances.next_page_number }}" class="btn btn-default">Next</a>
            {% endif %}
        {% endif %}
    </span>
</div>

{% endblock %}
