{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load mathfilters %}

{% block title %} - Insurance Letter{% endblock %}

{% block content %}
<h1>BLAH</h1>
<h5>Fields i am missing</h5>
<ul>
    <li>patient name</li>
    <li>date of bio exam</li>
    <li>healthcare practitioner</li>
    <li>perform by</li>
    <li>All the fields for gait ananlysis</li>
    <li>other text field</li>
    <li>diagnosis text field</li>
    <li>treatment options</li>
    <li>date paid in full</li>
    <li>fees</li>
    <li>casting techniques</li>
    <li></li>
</ul>
<a href="{% url 'insurance_letter' client.id claim.id %}" class="btn btn-default">View Invoice</a>
{% endblock %}
