{% extends 'base.html' %}

{% load static %}
{% load m2m %}

{% block title %} - Make Claim{% endblock %}

{% block extrahead %}

<link href="{% static 'css/div_table.css' %}" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="{% static 'js/claim.js' %}"></script>

{% endblock %}

{% include 'navbar.html' %}

{% block content %}

{% include 'clients/snippets/messages.html' %}
<h1>Make a Claim</h1>
<p>Client: <a href="{{ client.get_absolute_url }}">{{ client.full_name }}</a>
</p>

<form id="claim_add_form" class="form-horizontal" method="post">
    {% csrf_token %}
    {% for field in claim_form.visible_fields %}
        {% if field.name == "coverage_types" %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field.label_tag|title }}
            <div class="div_table div_table_striped">
                <div class="div_head">
                    <div class="div_tr">
                        <div class="div_th">Select</div>
                        <div class="div_th">Coverage Type</div>
                        <div class="div_th">Coverage Percent</div>
                        <div class="div_th">Max Claim Amount</div>
                        <div class="div_th">Coverage Remaining</div>
                        <div class="div_th">Total Claimed</div>
                        <div class="div_th">Pair Remaining</div>
                        <div class="div_th">Period</div>
                        <div class="div_th">Actual Amount Claimed</div>
                        <div class="div_th">Actual Expected Back</div>
                        <div class="div_th"></div>
                    </div>
                </div>
                {% regroup field.field.choices_dict by obj.insurance.id as grouped_choices %}
                {% for group in grouped_choices %}
                    <div class="div_body insurance_{{ group.grouper }} insurance_content" style="display: none;">
                        {% for choice in group.list %}
                            {% with value=choice.value coverage=choice.obj %}
                                <div class="div_tr">
                                    <div class="div_td">
                                        {% spaceless %}
                                        {% for checkbox in field %}
                                            {% if checkbox.choice_value == coverage.pk|slugify %}
                                                {% with checked=checkbox.is_checked|yesno:" checked," %}
                                                    <input{{ checked }} name="coverage_types" class="coverage_type_trigger" value="{{ value }}" data-rel="coverage_type_{{ coverage.coverage_type }}" type="checkbox" disabled="disabled">
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.get_coverage_type_display }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.coverage_percent }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.max_claim_amount }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.coverage_remaining }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.total_claimed }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.quantity }}
                                    </div>
                                    <div class="div_td">
                                        {{ coverage.get_period_display }}
                                    </div>
                                    <div class="div_td">
                                        <input type="number" name="claimed_{{ coverage.id }}" value="0" disabled="disabled">
                                    </div>
                                    <div class="div_td">
                                        <input type="number" name="expected_{{ coverage.id }}" value="0" disabled="disabled">
                                    </div>
                                    <div class="div_td">
                                        <div class="pull-right">
                                            <a href="{% url 'coverage_type_update_from_claim' coverage.id client.id %}" class="btn btn-default">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="div_caption insurance_ insurance_content" style="display: none;">
                    Please select an Insurance to select Coverage Types.
                </div>
            </div>
        {% elif field.name == "items" %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field.label_tag }}
            <div class="div_table div_table_striped">
                <div class="div_head">
                    <div class="div_tr">
                        <div class="div_th">Select</div>
                        <div class="div_th">Coverage Type</div>
                        <div class="div_th">Gender</div>
                        <div class="div_th">Product Code</div>
                        <div class="div_th">Description</div>
                        <div class="div_th">Unit Price</div>
                        <div class="div_th">Quantity</div>
                    </div>
                </div>
                {% regroup field.field.choices_dict by obj.coverage_type as grouped_choices %}
                {% for group in grouped_choices %}
                    <div class="div_body coverage_type_{{ group.grouper }} coverage_type_content" style="display: none;">
                        {% for choice in group.list %}
                            {% with value=choice.value item=choice.obj %}
                                <div class="div_tr">
                                    <div class="div_td">
                                        {% spaceless %}
                                        {% for checkbox in field %}
                                            {% if checkbox.choice_value == item.pk|slugify %}
                                                {% with checked=checkbox.is_checked|yesno:" checked," %}
                                                    <input{{ checked }} name="items" value="{{ value }}" type="checkbox" disabled="disabled">
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </div>
                                    <div class="div_td">
                                        {{ item.get_coverage_type_display }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.get_gender_display }}
                                    </div>
                                    <div class="div_td">
                                        <input type="hidden" name="product_code_{{ item.id }}" value="{{ item.product_code }}" disabled="disabled">
                                        {{ item.product_code }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.description }}
                                    </div>
                                    <div class="div_td">
                                        {{ item.unit_price }}
                                    </div>
                                    <div class="div_td">
                                        <input type="number" name="pairs_{{ item.id }}" value="1" disabled="disabled">
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="div_caption coverage_type_content_msg coverage_type_content" style="display: none;">
                    Please select a Coverage Type to select Items.
                </div>
            </div>
        {% else %}
            <div class="form-group">
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <div class="col-lg-10">
                    {{ field.label_tag}} {{ field }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <input type="submit" name="submit" value="Make Claim" />
</form>
<br />

{% endblock %}
