{% extends 'base.html' %}

{% load verbose_name %}
{% load nbsp %}

{% include 'navbar.html' %}

{% block title %} - Proof of Manufacturing for {{ client.full_name }}{% endblock %}

{% block content %}

<h1>Proof of Manufacturing for {{ client.full_name }}</h1>
<div>
    {% if proof_of_manufacturing %}
        <a href="{% url 'proof_of_manufacturing_edit' proof_of_manufacturing.id %}" class="btn btn-primary">Edit</a>
    {% else %}
        <a href="{% url 'proof_of_manufacturing_create' claim.id %}" class="btn btn-primary">Create</a>
    {% endif %}
</div>
{% if proof_of_manufacturing %}
    <h5>Please make sure the following is correct:</h5>
    <ul>
        <li>Invoice #:
            {{ invoice_number }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "invoice_date" %}:
            {{ proof_of_manufacturing.invoice_date }}
        </li>
        <li>Bill To:<br />
            {{ bill_to|safe }}
        </li>
        <li>Ship To:<br />
            {{ ship_to|safe }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing.claim "patient" %}:
            {{ proof_of_manufacturing.claim.patient.full_name }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "product" %}:
            {{ proof_of_manufacturing.product }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "quantity" %}:
            {{ proof_of_manufacturing.quantity }}
        </li>
        <li>Laboratory:
            <ul>
                {% for lab in proof_of_manufacturing.laboratory_set.all %}
                    <li>{% verbose_field_name lab "information" %}:
                        {{ lab.get_information_display|nbsp|linebreaksbr }}
                    </li>
                {% empty %}
                    <li>There is currently no laboratory for this proof of manufacturing.
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "laboratory_supervisor" %}:
            {{ proof_of_manufacturing.laboratory_supervisor }}
            </li>
        <li>{% verbose_field_name proof_of_manufacturing "raw_materials" %}:
            {{ proof_of_manufacturing.raw_materials }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "manufacturing" %}:
            {{ proof_of_manufacturing.manufacturing }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing "casting_technique" %}:
            {{ proof_of_manufacturing.casting_technique }}
        </li>
    </ul>
    <a href="{% url 'proof' client.id claim.id %}" class="btn btn-default">View Proof Of Manufacturing</a>
<br>
{% endif %}
<br>

{% endblock %}
