{% extends 'base.html' %}

{% load verbose_name %}
{% load nbsp %}

{% block title %} - Proof of Manufacturing for {{ claim.person.full_name }}{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<h1>Claim for {{ claim.person.full_name }}</h1>
<div>
    <a href="{% url 'claim' claim.client.id claim.id %}"><button type="button" class="btn btn-info">View</button></a>
</div>
<h1>Proof of Manufacturing for {{ claim.person.full_name }}</h1>
<div>
    {% if proof_of_manufacturing %}
        <a href="{% url 'proof_of_manufacturing_update' proof_of_manufacturing.id %}" class="btn btn-primary">Edit</a>
    {% else %}
        <a href="{% url 'proof_of_manufacturing_create' claim.id %}" class="btn btn-primary">Create</a>
    {% endif %}
</div>
{% if proof_of_manufacturing %}
    <h5>Please make sure the following is correct:</h5>
    <ul>
        <li>Invoice #:
            {{ invoice_number }}
        </li>
        <li>{{ proof_of_manufacturing.proof_of_manufacturing_date_verbose_name }}:
            {{ proof_of_manufacturing.proof_of_manufacturing_date }}
        </li>
        <li>Bill/Ship To:<br />
            {{ proof_of_manufacturing.bill_to|safe }}
        </li>
        <li>{% verbose_field_name proof_of_manufacturing.claim "patient" %}:
            {{ proof_of_manufacturing.claim.patient.full_name }}
        </li>
        <li>{% verbose_field_name claim "items" %}:
        <ul>{% for claim_item in proof_of_manufacturing.claim.claimitem_set.all %}
                {% if claim_item.item.coverage_type == "o" %}
                    <li>{# Orthotics dont have gender #}
                        {% verbose_field_name claim_item.item "product_code" %}:
                        {{ claim_item.item.product_code }}
                        {% verbose_field_name claim_item.item "description" %}:
                        {{ claim_item.item.description }}
                        {% verbose_field_name claim_item.item "unit_price" %}:
                        {{ claim_item.item.unit_price }}
                        {% verbose_field_name claim_item "quantity" %}:
                        {{ claim_item.quantity }}
                        Total:
                        {{ claim_item.total }}
                    </li>
                {% endif %}
            {% empty %}
                <li>There are no items for this claim.
                </li>
            {% endfor %}
        </ul>
    </li>
        <li>Laboratory:
            <ul>
                <li>{{ proof_of_manufacturing.laboratory }}
                </li>
            </ul>
        </li>
    </ul>
    <a href="{% url 'proof' client.id claim.id %}" class="btn btn-default">View Proof Of Manufacturing</a>
<br>
{% endif %}
<br>

{% endblock %}
