{% extends "base.html" %}

{% load verbose_name %}

{% block title %} - Site Statistics{% endblock %}

{% include 'navbar.html' %}

{% block content %}

<!-- Wrap -->
<div class="wrap container" role="document">
    <!-- Content -->
    <div class="content row">
        <!-- Main -->
        <div class="main col-sm-12" role="main">
            {% include 'clients/snippets/messages.html' %}
            <div class="page-header">
                <h1>Site Statistics:</h1>
            </div>
            <div class="page-main">
                <dl class="dl-horizontal">
                    <style>
                        /* bs3 has limits on text, embiggen them */
                        .dl-horizontal dt { width: 235px; }
                        .dl-horizontal dd { margin-left: 255px; }
                    </style>
                    <dt>Outstanding clients:</dt>
                    <dd>{{ stats.outstanding_clients }}</dd>
                    <dt>Outstanding fees:</dt>
                    <dd>{{ stats.outstanding_fees }}</dd>
                    <br />
                    <dt>Invoice Revenue:</dt>
                    <dd>{{ stats.invoice_revenue }}</dd>
                    <dt>Expected Back Revenue:</dt>
                    <dd>{{ stats.expected_back_revenue }}</dd>
                    <dt>Total Revenue:</dt>
                    <dd>{{ stats.total_revenue }}</dd>
                    <br />
                    <dt>Total:</dt>
                    <dd style="font-weight: bold;">{{ stats.total }}</dd>
                </dl>
                <h5>Insurance Providers</h5>
                <form method="get">
                    <input type="text" id="dateFromSearchBox" class="input-medium search-query" name="df" placeholder="Date From" value="{{ df }}">
                    <input type="text" id="dateToSearchBox" class="input-medium search-query" name="dt" placeholder="Date To" value="{{ dt }}">
                    <script>
                        $(function() {
                            $("#dateFromSearchBox").datepicker(
                                {changeMonth: true,
                                 changeYear: true,
                                 yearRange: "1900:2015"});
                            $("#dateToSearchBox").datepicker(
                                {changeMonth: true,
                                 changeYear: true,
                                 yearRange: "1900:2015"});
                        });
                    </script>
                    <input type="submit" class="btn" value="Search">
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-cover">
                        <thead>
                            <tr>
                                <th>Provider</th>
                                <th>Number of Claims</th>
                                <th>Non-assignment Expected Back</th>
                                <th>Assignment Expected Back</th>
                                <th>Pending Assignment Expected Back</th>
                                <th>Total Assignment Expected Back</th>
                                <th>Total Expected Back</th>
                                <th>Total Amount Claimed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for insurance in insurances %}
                                <tr>
                                    <td>{{ insurance.provider }}</a></td>
                                    <td>{{ insurance.num_claims }}</td>
                                    <td>{{ insurance.non_assignment_expected_back }}</td>
                                    <td>{{ insurance.assignment_expected_back }}</td>
                                    <td>{{ insurance.pending_assignment_expected_back }}</td>
                                    <td>{{ insurance.total_assignment_expected_back }}</td>
                                    <td>{{ insurance.expected_back__sum }}</td>
                                    <td>{{ insurance.amount_claimed__sum }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td><strong>Total: {{ insurances_totals.num_claims }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.non_assignment_expected_back }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.assignment_expected_back }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.pending_assignment_expected_back }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.total_assignment_expected_back }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.expected_back__sum }}</strong></td>
                                <td><strong>Total: {{ insurances_totals.amount_claimed__sum }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>Top 10 Best Sellers</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-cover">
                        <thead>
                            <tr>
                                <th>Shoe</th>
                                <th>Number of Orders</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for shoe in shoes %}
                                <tr>
                                    <td><a href="{{ shoe.get_absolute_url }}">{{ shoe }}</a></td>
                                    <td>{{ shoe.num_orders }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h5>Old Ordered Date Orders</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-cover">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Ordered Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in old_ordered_date_orders %}
                                <tr>
                                    <td><a href="{{ order.get_absolute_url }}">{{ order }}</a></td>
                                    <td>{{ order.ordered_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h5>Old Arrived Date Orders</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-cover">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Ordered Date</th>
                                <th>Arrived Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in old_arrived_date_orders %}
                                <tr>
                                    <td><a href="{{ order.get_absolute_url }}">{{ order }}</a></td>
                                    <td>{{ order.ordered_date }}</td>
                                    <td>{{ order.arrived_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->

{% endblock %}
