{% extends 'utils/base/base.html' %}

{% load static %}

{% block meta %}
    {{ block.super }}

    <meta name="description" content="We are an Edmonton based company providing orthotics to those in need." />

    <meta name="google-site-verification" content="Nwpb8CcAO_B8BYCSo2EKaUQxW6hIS0Zo77CnlM0izzc" />

    <meta property="og:title" content="Perfect Arch" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://perfectarch.ca/" />
    <meta property="og:image" content="https://perfectarch.ca/static/images/PerfectArchLogo.jpg" />
{% endblock %}

{% block head %}
    {{ block.super }}

    <title>
        Perfect Arch {% block title %}{% endblock %}
    </title>

    {# favicon #}
    <link href="{% static 'images/PerfectArchLogo.jpg' %}" rel="icon" type="image/x-icon" />
    <link href="{% static 'images/PerfectArchLogo.jpg' %}" rel="shortcut icon" type="image/x-icon" />
{% endblock %}

<script type="text/javascript">
    {% block bootstrap_fallback_load_css %}
        bootswatch_cerulean_bootstrap_css: [
            '//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css',
            "{% static 'css/bootstrap.min.css' %}"
        ],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        base_css: "{% static 'css/base.css' %}",

        sticky_footer_css: "{% static 'css/sticky-footer.css' %}",
    {% endblock %}
</script>

{% block body %}
    {{ block.super }}

    {% include 'navbar.html' %}

    {% block full_content %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    {% if settings.GOOGLE_ANALYTICS_ID %}
        {# Google Analytics #}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}
