{% extends 'utils/base/base.html' %}

{% load static %}
{% load pipeline %}
{% load fallback_tags %}
{% load template_utils %}
{% load session_security_tags %}
{% load i18n l10n %}

{% get_app_settings 'pipeline' as pipeline_settings %}

{% block meta %}
    {{ block.super }}

    <meta name="robots" content="index, follow">
    <meta name="description" content="We are an Edmonton based company providing orthotics to those in need." />

    <meta name="google-site-verification" content="Nwpb8CcAO_B8BYCSo2EKaUQxW6hIS0Zo77CnlM0izzc" />

    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="Perfect Arch" />
    <meta property="og:url" content="https://perfectarch.ca/" />
    <meta property="og:image" content="https://perfectarch.ca/static/images/PerfectArchLogo.jpg" />
    <meta property="business:contact_data:street_address" content="10540 - 169 St NW">
    <meta property="business:contact_data:locality" content="Edmonton">
    <meta property="business:contact_data:region" content="AB">
    <meta property="business:contact_data:postal_code" content="T5P 3X6">
    <meta property="business:contact_data:country_name" content="Canada">
{% endblock %}

{% block head %}
    {{ block.super }}

    <title>
        Perfect Arch {% block title %}{% endblock %}
    </title>

    {# favicon #}
    <link href="{% static 'images/PerfectArchLogo.jpg' %}" rel="icon" type="image/x-icon" />
    <!--[if IE]>
        <link href="{% static 'images/PerfectArchLogo.jpg' %}" rel="shortcut icon" type="image/x-icon" />
    <![endif]-->

    <script type='application/ld+json'>
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "Perfect Arch",
            "legalName": "The Perfect Arch Orthotics",
            "logo": "https://perfectarch.ca/static/images/PerfectArchLogo.jpg",
            "url": "https://perfectarch.ca",
            "email": "info@perfectarch.ca",
            "sameAs": [
              "https://www.facebook.com/The-Perfect-Arch-Orthotics-1580421348860249/"
            ],
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Edmonton",
              "addressRegion": "AB",
              "postalCode": "T5P 3X6",
              "addressCountry": "Canada"
            },
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": "53.551592",
              "longitude": "-113.613429"
            },
            "openingHours": [
                "Mo-Fr 10:30-19:00",
                "Sa 11:00-17:00"
            ]
        }
    </script>
{% endblock %}

<script type="text/javascript">
    {% block bootstrap_fallback_load_css %}
        bootstrap_css: [
            '//maxcdn.bootstrapcdn.com/bootswatch/{{ settings.VERSIONS.bootswatch_cerulean_css }}/cerulean/bootstrap.min.css',
            "{% static 'css/bootstrap.min.css' %}"
        ],
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% stylesheet 'base' %}

        {% if request.user.is_authenticated and settings.ENV != 'devl' %}
            {% javascript 'base' %}
        {% endif %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% pipeline_css_shim 'base' 'bootstrap_css' %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_overlay_libraries %}
        {{ block.super }}

        {% if pipeline_settings.settings.PIPELINE_ENABLED %}
            'base_all_css',
        {% else %}
            'base_css',
            'sticky_footer_css',
        {% endif %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {% if request.user.is_authenticated and settings.ENV != 'devl' %}
            var sessionSecurity = new yourlabs.SessionSecurity({
                pingUrl: "{% url 'session_security_ping' %}",
                warnAfter: {{ request|warn_after|unlocalize }},
                expireAfter: {{ request|expire_after|unlocalize }},
                confirmFormDiscard: "{% trans 'You have unsaved changes in a form of this page.' %}"
            });
        {% endif %}
    {% endblock %}
</script>

{% block body %}
    {{ block.super }}

    {% include 'navbar.html' %}

    {% block full_content %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    {% if request.user.is_authenticated %}
        {% include 'session_security/dialog.html' %}
    {% endif %}
{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    {% if settings.GOOGLE_ANALYTICS_ID %}
        {# Google Analytics #}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}
