{% extends 'base.html' %}

{% load static %}
{% load pipeline %}
{% load fallback_tags %}

{% block title %} - Welcome{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% stylesheet 'index' %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% pipeline_css_shim 'index' 'bootstrap_css' %}
    {% endblock %}
</script>

{% block full_content %}

    <div id="main" class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover">
                <img data-src="{% static 'images/PerfectArchLogo.jpg' %}" alt="Perfect Arch" class="lazy" style="width: 100%; max-width: 600px;">
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-lg-5" style="float: none; margin: 0 auto;">
                        <p class="lead">
                            We are an Edmonton based company providing orthotics to those in need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover">
                <div>
                    10540 - 169 St NW
                </div>
                <div>
                    Edmonton, AB &nbsp;T5P 3X6
                </div>
                <div style="margin-bottom: 10px;">
                    Canada
                </div>
                <p>
                    <a href="//maps.google.com/?q=10540 169 St NW, Edmonton, Alberta T5P 3X6, Canada" class="btn btn-primary">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        View in Google Maps
                    </a>
                </p>
                <div>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    Phone:
                    <a href="tel:5874004588">
                        (587) 400-4588
                    </a>
                </div>
                <div style="margin-bottom: 10px;">
                    Fax: (587) 400-4566
                </div>
            </div>
        </div>
    </div>

{% endblock %}
