
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Perfect Arch Orthotics</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'reminders:reminders' %}">Reminders</a>
                    </li>
                    <li><a href="{% url 'client_list' %}">Clients</a></li>
                    <li><a href="{% url 'claims' %}">Claims</a></li>
                    <li><a href="{% url 'insurance' %}">Insurances</a></li>
                    <li><a href="{% url 'item_list' %}">Items</a></li>
                    <li><a href="{% url 'shoe_list' %}">Inventory</a></li>
                    <li><a href="{% url 'order_list' %}">Orders</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Statistics
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'claims_statistics' %}">
                                    Claims
                                </a>
                                <a href="{% url 'inventory_orders_statistics' %}">
                                    Inventory/Orders
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if user.is_staff %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'accounts:user_detail' user.pk %}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    {% if not user.first_name %}
                                        {{ user }}
                                    {% else %}
                                        {{ user.first_name }}
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:logout' %}">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
