{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %} - Add Dependent{% endblock %}

{% block extrahead %}
    {% now 'Y' as current_year %}
    <script>
        $(function() {
            $( "#id_birth_date" ).datepicker(
                {changeMonth: true,
                 changeYear: true,
                 yearRange: "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}"});
        });
    </script>
{% endblock %}

{% block content %}
<h3>Add dependent for: {{ client.full_name }}</h3>
    <form id="dependent_form" class="form-horizontal" method="post">
        <fieldset>
            {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <div class="col-lg-10">
                        {{ field.label_tag}} {{ field }}
                    </div>
                </div>
                {% endfor %}
        </fieldset>
        <input type="submit" name="submit" value="Save" />
    </form>
{% endblock %}
