
.form-static .form-group {
    margin-bottom: 0;
}

.form-static .control-label,
.form-static .form-control-static,
.form-static .checkbox {
    padding-top: 0;
    padding-bottom: 0;
    min-height: initial;
}
